<lrm-page name="Form Sampler">
  <lrm-card>

    <form [formGroup]="form">

      <lrm-input-boolean label="Disable All" formControlName="allDisabled" (ngModelChange)="toggleDisabled($event)"></lrm-input-boolean>
      <lrm-input-boolean label="Require All" formControlName="allRequired"></lrm-input-boolean>
      <button (click)="populate()">Populate</button>
      <button (click)="clear()">Clear</button>
      <button (click)="showHints()">Show Hints</button>
      <button (click)="clearHints()">Clear Hints</button>
      <button type="submit">Submit</button>

      <hr/>

      <lrm-input-text
        label="Username"
        i18n-label
        formControlName="username"
        minlength="4"
        maxlength="10"
        hint="Must be 4 to 10 characters in length"
        [required]="allRequired">
      </lrm-input-text>

      <lrm-input-password
        formControlName="password"
        [hint]="hint"
        [required]="allRequired">
      </lrm-input-password>

      <lrm-input-boolean
        label="Send Welcome Email"
        formControlName="sendWelcomeEmail"
        [hint]="hint"
        [required]="allRequired">
      </lrm-input-boolean>

      <lrm-input-text
        label="Alpha Only"
        i18n-label
        formControlName="alphaOnly"
        pattern="[a-zA-Z ]*"
        patternError="Please enter only characters or spaces"
        hint="Alphabetic characters and spaces only"
        [required]="allRequired">
      </lrm-input-text>

      <lrm-input-email
        label="Email Address"
        i18n-label
        formControlName="email"
        minlength="12"
        maxlength="150"
        [hint]="hint"
        [required]="allRequired">
      </lrm-input-email>

      <lrm-radioset
        label="Crust"
        i18n-label
        formControlName="crust"
        [hint]="hint"
        [required]="allRequired">
        <lrm-option>Thin</lrm-option>
        <lrm-option>Hand Tossed</lrm-option>
        <lrm-option>Thick</lrm-option>
      </lrm-radioset>

      <lrm-checkboxset
        label="Pizza Toppings"
        formControlName="toppings"
        [hint]="hint"
        [required]="allRequired">
        <lrm-option>Pepperoni</lrm-option>
        <lrm-option>Sausage</lrm-option>
        <lrm-option>Onions</lrm-option>
        <lrm-option>Mushrooms</lrm-option>
        <lrm-option>Green Peppers</lrm-option>
        <lrm-option>Anchovies</lrm-option>
      </lrm-checkboxset>

      <lrm-dropdown-single
        label="Sauce"
        i18n-label
        placeholder="Choose a sauce"
        formControlName="sauce"
        [hint]="hint"
        [required]="allRequired">
        <lrm-option>Red</lrm-option>
        <lrm-option>Garlic</lrm-option>
        <lrm-option>Pesto</lrm-option>
      </lrm-dropdown-single>

      <lrm-dropdown-multi
        label="Drinks (choose multiple)"
        i18n-label
        formControlName="drinks"
        [hint]="hint"
        [required]="allRequired">
        <lrm-option>Coke</lrm-option>
        <lrm-option>Pepsi</lrm-option>
        <lrm-option>Dr. Pepper</lrm-option>
        <lrm-option>Mountain Dew</lrm-option>
        <lrm-option value="4">Tea</lrm-option>
        <lrm-option>Water</lrm-option>
      </lrm-dropdown-multi>

      <lrm-input-date
        label="Delivery Date"
        i18n-label
        [hint]="hint"
        [required]="allRequired"
        formControlName="deliveryDate">
      </lrm-input-date>

      <lrm-input-time
        [hint]="hint"
        [required]="allRequired"
        formControlName="time">
      </lrm-input-time>

      <lrm-input-phone
        label="Delivery Phone Number"
        i18n-label
        [required]="allRequired"
        formControlName="deliveryPhone">
      </lrm-input-phone>

      <lrm-input-ssn
        formControlName="ssn"
        [required]="allRequired">
      </lrm-input-ssn>

    </form>
  </lrm-card>

  <lrm-card class="values">
    <p><label>Username:</label><span> {{form.value.username}}</span></p>
    <p><label>Password:</label><span> {{form.value.password}}</span></p>
    <p><label>Send Welcome Email:</label><span> {{form.value.sendWelcomeEmail}}</span></p>
    <p><label>Email:</label><span> {{form.value.email}}</span></p>
    <p><label>Alpha:</label><span> {{form.value.alphaOnly}}</span></p>
    <p><label>Crust:</label><span> {{form.value.crust}}</span></p>
    <p><label>Toppings:</label><span> {{form.value.toppings}}</span></p>
    <p><label>Sauce:</label><span> {{form.value.sauce}}</span></p>
    <p><label>Drinks:</label><span> {{form.value.drinks}}</span></p>
    <p><label>Date:</label><span> {{form.value.deliveryDate}}</span></p>
    <p><label>Time:</label><span> {{form.value.time}}</span></p>
    <p><label>Phone:</label><span> {{form.value.deliveryPhone}}</span></p>
    <p><label>SSN:</label><span> {{form.value.ssn}}</span></p>
  </lrm-card>
</lrm-page>
