:host {
  display: flex;
  flex: 1;
}

td, th {
  padding: 10px;
}

table.library {

  display: block;

  th {
    text-align: center;
  }

  th:nth-child(1) {
    text-align: left;
  }

  td {
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }
}


