<lrm-page name="Actions">
  <lrm-card>


    <p>
      Actions are a way to provide consistency in initiating something the
      user wants to accomplish.
    </p>

    <blockquote>
      Please note that the best way to handle layout of actions is to put them
      in an <b><a href="actioncontainer">Action Container</a></b>.
    </blockquote>

    <p>
      One of the goals is to replace the following code
      or one of its many variants:
    </p>

    <markdown src="assets/markdown/actions/before.html" ngPreserveWhitespaces></markdown>

    <p>
      with code that is much simpler, more consistent and easier to read:
    </p>

    <markdown src="assets/markdown/actions/after.html" ngPreserveWhitespaces></markdown>

    <!-- ------------------------------------------------------------------------------------ -->
    <h2>Visual States</h2>

    <p>
      Each of the actions has been assigned a visual state that represents its most
      commonly used state.  However, there may be situations where the visual states
      needs to be changed.  For example, when two typically primary actions are on the
      same page, the more subservient of the two would be changed to a secondary
      visual state.
    </p>
    <p>
      This is accomplished by adding the optional "kind" attribute.  <b>(Note that we should
      not apply the kind attribute when the default visual behavior is desired.)</b>
    </p>

    <!-- ------------------------------------------------------------------------------------ -->
    <h3>Disabled</h3>

    <p>
      An action can also be disabled by setting the disabled attribute to true.
    </p>

    <markdown src="assets/markdown/actions/disabled.html" ngPreserveWhitespaces></markdown>

    <lrm-action-add disabled="true" (execute)="doit()"></lrm-action-add>

    <!-- ------------------------------------------------------------------------------------ -->
    <h3>Sizes</h3>

    <p>
      The actions default to a normal size.  However, there are cases where it is desirable to have a smaller action for
      embeddding into grids. To make this happen, add <code>size="small"</code> to the action.
    </p>

    <table>
      <tr>
        <td>
          <markdown src="assets/markdown/actions/sizes/normal.html" ngPreserveWhitespaces></markdown>
        </td>
        <td>
          <lrm-action-delete (execute)="doit()"></lrm-action-delete>
        </td>
      </tr>
      <tr>
        <td>
          <markdown src="assets/markdown/actions/sizes/small.html" ngPreserveWhitespaces></markdown>
        </td>
        <td>
          <lrm-action-delete size="small" (execute)="doit()"></lrm-action-delete>
        </td>
      </tr>
    </table>

    <!-- ------------------------------------------------------------------------------------ -->
    <h3>Type</h3>

    <p>
      In order to support the use of actions in the context of forms, a 'type' attribute has been added
      with appropriate defaults.
    </p>

    <p>
      Most actions are of <code>type='button'</code>.
      The action <code>Submit</code> defaults to <code>type='submit'</code>.
      The action <code>Reset</code> defaults to <code>type='reset'</code>.
    </p>

    <p>
      Occasionally, there will be a need for an action of type submit when some other action is used.
      For instance, there is the possibility that a <code>Save</code> action would need to need to
      persist a form, or a <code>Clear</code> action would reset a form.  This can be accomlished by
      supplying the <code>type</code> attribute, as follows:
    </p>

    <pre class="code">
  &lt;lrm-action-save type="submit"&gt;&lt;/lrm-action-save&gt;
</pre>


    <!-- ------------------------------------------------------------------------------------ -->
    <h2>Implementation</h2>

    <p>
      To implement this process, we will replace existing buttons with these
      actions. There are and will be cases where an existing or new button
      will not have a corresponding action in the library.  This will be an opportunity
      to have a conversation with product, UI and UX to see whether we should
    </p>

    <ul>
      <li>Use an existing action from the library,</li>
      <li>Create a new action, or </li>
      <li>Do something else.</li>
    </ul>

    <!-- ------------------------------------------------------------------------------------ -->
    <h2>Library of Actions</h2>

    <table class="library">

      <tr>
        <th>Syntax</th>
        <th>Normal</th>
        <th>Small</th>
      </tr>

      <tr>
        <td>lrm-action-add</td>
        <td><lrm-action-add (execute)="doit()"></lrm-action-add></td>
      </tr>

      <tr>
        <td>lrm-action-back</td>
        <td><lrm-action-back (execute)="doit()"></lrm-action-back></td>
      </tr>

      <tr>
        <td>lrm-action-cancel</td>
        <td><lrm-action-cancel (execute)="doit()"></lrm-action-cancel></td>
        <td><lrm-action-cancel size="small" (execute)="doit()"></lrm-action-cancel></td>
      </tr>

      <tr>
        <td>lrm-action-close</td>
        <td><lrm-action-close (execute)="doit()"></lrm-action-close></td>
        <td><lrm-action-close size="small" (execute)="doit()"></lrm-action-close></td>
      </tr>

      <tr>
        <td>lrm-action-complete</td>
        <td><lrm-action-complete (execute)="doit()"></lrm-action-complete></td>
      </tr>

      <tr>
        <td>lrm-action-continue</td>
        <td><lrm-action-continue (execute)="doit()"></lrm-action-continue></td>
      </tr>

      <tr>
        <td>lrm-action-create</td>
        <td><lrm-action-create (execute)="doit()"></lrm-action-create></td>
      </tr>

      <tr>
        <td>lrm-action-delete</td>
        <td><lrm-action-delete (execute)="doit()"></lrm-action-delete></td>
        <td><lrm-action-delete size="small" (execute)="doit()"></lrm-action-delete></td>
      </tr>

      <tr>
        <td>lrm-action-download</td>
        <td><lrm-action-download (execute)="doit()"></lrm-action-download></td>
      </tr>

      <tr>
        <td>lrm-action-edit</td>
        <td><lrm-action-edit (execute)="doit()"></lrm-action-edit></td>
        <td><lrm-action-edit size="small" (execute)="doit()"></lrm-action-edit></td>
      </tr>

      <tr>
        <td>lrm-action-export</td>
        <td><lrm-action-export (execute)="doit()"></lrm-action-export></td>
      </tr>

      <tr>
        <td>lrm-action-go</td>
        <td><lrm-action-go (execute)="doit()"></lrm-action-go></td>
      </tr>

      <tr>
        <td>lrm-action-logout</td>
        <td><lrm-action-logout (execute)="doit()"></lrm-action-logout></td>
      </tr>

      <tr>
        <td>lrm-action-next</td>
        <td><lrm-action-next (execute)="doit()"></lrm-action-next></td>
        <td><lrm-action-next (execute)="doit()" size="small"></lrm-action-next></td>
      </tr>

      <tr>
        <td>lrm-action-no</td>
        <td><lrm-action-no (execute)="doit()"></lrm-action-no></td>
      </tr>

      <tr>
        <td>lrm-action-previous</td>
        <td><lrm-action-previous (execute)="doit()"></lrm-action-previous></td>
        <td><lrm-action-previous (execute)="doit()" size="small"></lrm-action-previous></td>
      </tr>

      <tr>
        <td>lrm-action-print</td>
        <td><lrm-action-print (execute)="doit()"></lrm-action-print></td>
      </tr>

      <tr>
        <td>lrm-action-refresh</td>
        <td><lrm-action-refresh (execute)="doit()"></lrm-action-refresh></td>
      </tr>

      <tr>
        <td>lrm-action-remove</td>
        <td><lrm-action-remove (execute)="doit()"></lrm-action-remove></td>
      </tr>

      <tr>
        <td>lrm-action-reset</td>
        <td><lrm-action-reset (execute)="doit()"></lrm-action-reset></td>
      </tr>

      <tr>
        <td>lrm-action-save</td>
        <td><lrm-action-save (execute)="doit()"></lrm-action-save></td>
        <td><lrm-action-save size="small" (execute)="doit()"></lrm-action-save></td>
      </tr>

      <tr>
        <td>lrm-action-search</td>
        <td><lrm-action-search (execute)="doit()"></lrm-action-search></td>
      </tr>

      <tr>
        <td>lrm-action-submit</td>
        <td><lrm-action-submit (execute)="doit()"></lrm-action-submit></td>
      </tr>

      <tr>
        <td>lrm-action-upload</td>
        <td><lrm-action-upload (execute)="doit()"></lrm-action-upload></td>
      </tr>

      <tr>
        <td>lrm-action-wait</td>
        <td><lrm-action-wait (execute)="doit()"></lrm-action-wait></td>
      </tr>

      <tr>
        <td>lrm-action-yes</td>
        <td><lrm-action-yes (execute)="doit()"></lrm-action-yes></td>
      </tr>

    </table>

  </lrm-card>
</lrm-page>
