<mat-form-field appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input matInput
         [matDatepicker]="picker"
         [disabled]="disabled"
         [required]="required"
         [(ngModel)]="value">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-hint>{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
</mat-form-field>

<span class="lrm-translation" #defaultLabel i18n>Date</span>
