<mat-form-field appearance="outline" *ngIf="formControl">
  <mat-label #inputLabel>{{label}}</mat-label>
  <input
    #phoneInput
    type="text"
    matInput
    [formControl]="formControl"
    [errorStateMatcher]="errorStateMatcher"
    [required]="required"
    [placeholder]="placeholder"
    [textMask]="{mask: inputMask && inputMask.length > 0 ? inputMask : false, guide: false}">
  <mat-hint>{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('minlength')">{{label}} <span i18n>not long enough</span></mat-error>
  <mat-error *ngIf="hasError('maxlength')">{{label}} <span i18n>too long</span></mat-error>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>required</span></mat-error>
</mat-form-field>
<span class="lrm-translation" #defaultLabel i18n>Social Security Number</span>
