<lrm-checkboxset label="Pizza Toppings" formControlName="toppings">
  <lrm-option i18n>Pepperoni</lrm-option>
  <lrm-option i18n>Sausage</lrm-option>
  <lrm-option i18n>Onions</lrm-option>
  <lrm-option i18n>Mushrooms</lrm-option>
  <lrm-option i18n>Green Peppers</lrm-option>
  <lrm-option i18n>Anchovies</lrm-option>
</lrm-checkboxset>
