<lrm-dropdown-single label="Sauce" i18n-label formControlName="sauce">
  <lrm-option i18n>Red</lrm-option>
  <lrm-option i18n>Garlic</lrm-option>
  <lrm-option i18n>Pesto</lrm-option>
</lrm-dropdown-single>
