<lrm-dropdown-multi
  label="Drinks (choose multiple)"
  i18n-label
  formControlName="drinks"
  [required]="true">
  <lrm-option>Coke</lrm-option>
  <lrm-option>Pepsi</lrm-option>
  <lrm-option>Dr. Pepper</lrm-option>
  <lrm-option>Mountain Dew</lrm-option>
  <lrm-option>Tea</lrm-option>
  <lrm-option>Water</lrm-option>
</lrm-dropdown-multi>
