<lrm-page name="Page With Tools" i18n-name icon="fas fa-home">
  <lrm-page-tools>
    <i class="fas fa-adjust"></i>
    <i class="fas fa-battery-half"></i>
    <i class="fas fa-cog"></i>
  </lrm-page-tools>
  <lrm-card>
    Content goes here
  </lrm-card>
</lrm-page>
