<lrm-page name="Dialog">
  <lrm-card>

    <p>
      Dialogs are normally used to ask the user for confirmation or another boolean question.
      The <a href="confirmationdialog">Confirmation Dialog</a> is preferred for such purpose.
    </p>

    <p>
      However, there are times when a dialog is needed that provides more than two possible actions.
    </p>


    <button (click)="displayLrmDialog=true">Show</button>

    <lrm-dialog
      header="Pizza?" i18n-header
      width="400px"
      [visible]="displayLrmDialog">
      <lrm-dialog-body>
        <p>
          Are you going to have pizza for lunch?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </lrm-dialog-body>
      <lrm-dialog-actions>
        <lrm-action-yes (execute)="onYes()"></lrm-action-yes>
        <lrm-action-no kind="secondary" (execute)="onNo()"></lrm-action-no>
        <lrm-action-cancel (execute)="onMaybe()"></lrm-action-cancel>
      </lrm-dialog-actions>
    </lrm-dialog>

    <markdown src="assets/markdown/dialog.html"></markdown>

    <tut-parameters name="Dialog" [parameters]="parameters.dialog"></tut-parameters>

  </lrm-card>
</lrm-page>
