@import "../../../../../components/src/styles/main";

:host {
  display: flex;
  flex: 1;
}

td, th {
  border: 1px solid $theme-gray-6;
  padding: 6px;
}

tr:nth-child(1) td:nth-child(1),
tr:nth-child(2) td:nth-child(1) {
  border: 0;
  background-color: white;
}

tr:nth-child(1) td:nth-child(2) {
  text-align: center;
}

td:nth-child(1),
tr:nth-child(1),
tr:nth-child(2) {
  background-color: $theme-gray-1;
}



table {
  border-collapse: collapse;
}

.table-holder {
}
