<lrm-page name="Selections">
  <lrm-card>
    <form [formGroup]="form">


      <p>
        Selection components are used to allow the user to select one or more items
        from a collection of items. Which component is used depends on:
      </p>

      <ul>
        <li>The size of the collection</li>
        <li>The number of items to be selected</li>
      </ul>

      <p>
        The table below demostrates which component to use for each purpose.
      </p>

      <div class="table-holder">

        <table>
          <tr>
            <td></td>
            <td colspan="2">Select From</td>
          </tr>
          <tr>
            <td></td>
            <td>Few</td>
            <td>Many</td>
          </tr>
          <tr>
            <td>Select One</td>
            <td><a href="selections#radioset">Radio Set</a></td>
            <td><a href="selections#dropdown-single">Dropdown Single</a></td>
          </tr>
          <tr>
            <td>Select Multiple</td>
            <td><a href="selections#checkboxset">Checkbox Set</a></td>
            <td><a href="selections#dropdown-multi">Dropdown Multi</a></td>
          </tr>
        </table>
      </div>

      <p>
        For this purpose, "<b>Few</b>" is defined as <b>6</b> items or less.
      </p>

      <h2>Options</h2>

      <p>
        There are a couple ways of specifying options.  The most straightforward is
        to use literals for each option.  This it easy to handle translation by specifying
        <code>i18n</code> on each option.
      </p>

      <markdown src="assets/markdown/inputs/selections/options-literal.html"></markdown>

      <p>
        Another way is used if the values are held in a Typescript model.  This is
        accomplished by using <code>*ngFor</code>.  Please note that the <code>i18n</code>
        attribute <b>cannot</b> be used directly on the <code>lrm-option</code>.
      </p>

      <markdown src="assets/markdown/inputs/selections/options-loop.html"></markdown>

      <p>
        Just for clarification, the <code>i18n</code> attribute can be used within the contents
        of the <code>lrm-option</code> to add static text to each option as follows:
      </p>

      <markdown src="assets/markdown/inputs/selections/options-loop-with-i18n.html"></markdown>

      <p>
        It just cannot be added to an HTML tag that wraps dynamic content.
      </p>

      <h3> Option Values</h3>

      <p>
        There are times when the value used for an option is different than the displayed text.
        This could be a numeric value instead of an alphanumeric value, or the value could be
        a reference to a Typescript object.
      </p>

      <p>
        This is accomplished by adding a "value" attribute to option.  If not supplied, the value
        will be the same as the transcluded text.
      </p>

      <markdown src="assets/markdown/inputs/selections/options-value.html"></markdown>

      <tut-parameters name="Option" [parameters]="parameters.selectionOption"></tut-parameters>
      
      <h4>Object Reference as Option Value</h4>

      <P>
        There are time when the developer desires to show a complex textual value.  In this case, the
        drop-down shows the name of the topping as well as its calories.
      </P>

      <p>
        Additionally, instead of choosing the selected value as a numeric or text value, the selected
        value is a reference to the object.  This provides a lot more flexibility and ease of development.
      </p>

      <button (click)="populateToppings()">Set Topping to to Garlic</button>

      <lrm-dropdown-single label="Topping" placeholder="Please select a topping" i18n-label formControlName="altToppings">
        <lrm-option [value]="topping" *ngFor="let topping of toppings">{{topping.name}} ({{topping.calories}} calories)</lrm-option>
      </lrm-dropdown-single>

      <markdown src="assets/markdown/inputs/selections/options-value-object.html"></markdown>

      <h2>Examples</h2>

      <p>The following examples are taken from our pizza example.</p>


      <h3 id="radioset">Radio Set</h3>

      <lrm-radioset label="Crust" i18n-label formControlName="crust">
        <lrm-option>Thin</lrm-option>
        <lrm-option>Hand Tossed</lrm-option>
        <lrm-option>Thick</lrm-option>
      </lrm-radioset>

      <markdown src="assets/markdown/inputs/selections/radioset.html"></markdown>

      <tut-parameters name="RadioSet" [parameters]="parameters.radioset"></tut-parameters>

      <h3 id="checkboxset">Checkbox Set</h3>

      <lrm-checkboxset label="Pizza Toppings" formControlName="toppings">
        <lrm-option>Pepperoni</lrm-option>
        <lrm-option>Sausage</lrm-option>
        <lrm-option>Onions</lrm-option>
        <lrm-option>Mushrooms</lrm-option>
        <lrm-option>Green Peppers</lrm-option>
        <lrm-option>Anchovies</lrm-option>
      </lrm-checkboxset>

<!--
      <lrm-checkboxset label="Pizza Toppings" formControlName="toppings">
        <lrm-option> <img src="assets/images/icons/pizza-icons/svg/Pepperoni.svg"> Pepperoni</lrm-option>
        <lrm-option>Sausage</lrm-option>
        <lrm-option>Onions</lrm-option>
        <lrm-option>Mushrooms</lrm-option>
        <lrm-option>Green Peppers</lrm-option>
        <lrm-option>Anchovies</lrm-option>
      </lrm-checkboxset>
-->

      <markdown src="assets/markdown/inputs/selections/checkboxset.html"></markdown>

      <tut-parameters name="CheckboxSet" [parameters]="parameters.checkboxset"></tut-parameters>


      <h3 id="dropdown-single">Dropdown Single</h3>


      <lrm-dropdown-single label="Sauce" placeholder="Please select a color" i18n-label formControlName="sauce">
        <lrm-option value="1">Red</lrm-option>
        <lrm-option value="2">Garlic</lrm-option>
        <lrm-option value="3">Pesto</lrm-option>
      </lrm-dropdown-single>

<!--
      <lrm-dropdown-single label="Sauce" placeholder="Please select a color" i18n-label formControlName="sauce">
        <lrm-option> <img src="assets/images/icons/pizza-icons/svg/Pepperoni.svg"> Pepperoni</lrm-option>

        <lrm-option value="1">Red</lrm-option>
        <lrm-option value="2">Garlic</lrm-option>
        <lrm-option value="3">Pesto</lrm-option>
        <lrm-option value="4">Topping</lrm-option>
      </lrm-dropdown-single>
-->

      <markdown src="assets/markdown/inputs/selections/dropdown-single.html"></markdown>

      <tut-parameters name="DropdownSingle" [parameters]="parameters.dropdownSingle"></tut-parameters>


      <h3 id="dropdown-multi">Dropdown Multi</h3>

      <lrm-dropdown-multi label="Drinks (choose multiple)" i18n-label formControlName="drinks">
        <lrm-option>Coke</lrm-option>
        <lrm-option>Pepsi</lrm-option>
        <lrm-option>Dr. Pepper</lrm-option>
        <lrm-option>Mountain Dew</lrm-option>
        <lrm-option>Tea</lrm-option>
        <lrm-option>Water</lrm-option>
      </lrm-dropdown-multi>

      <markdown src="assets/markdown/inputs/selections/dropdown-multi.html"></markdown>

      <tut-parameters name="DropdownMulti" [parameters]="parameters.dropdownMulti"></tut-parameters>

    </form>


  </lrm-card>
</lrm-page>
