:host {
  position: relative;
//  border: 2px solid red;
  flex: 1;

  .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  .not-scrollable {
    flex: 1;
  }
}
