<lrm-page name="Known Issues">
  <lrm-card>
    <p>
      This page reports the known issues so that they do not get re-reported as bugs.
    </p>

    <div *ngFor="let feature of features">
      <h2>{{feature.name}}</h2>

      <ul>
        <li *ngFor="let issue of feature.issues">
          <b>{{issue.name}}</b> - {{issue.desc}}
        </li>
      </ul>
    </div>
  </lrm-card>
</lrm-page>
