@import "../styles/variables";
/*
 * This file is for button definitions that are to be shared among reusable components,
 * but not for public consumption.
 */
button {
  border: 2px solid transparent;

  border-radius: 4px;
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;

  &.persist {
    background-color: $theme-green-4;
    color: white;

    &:hover {
      background-color: $theme-green-4;
    }

    &:active {
      background-color: $theme-green-5;
    }

    &:focus {
      border-color: $theme-green-2;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $lrm-disabled-bg-color;
      color: $lrm-disabled-fg-color;
    }
  }

  &.primary {
    background-color: $theme-blue-8;
    color: white;

    &:hover {
      background-color: $theme-blue-9;
    }

    &:focus {
      border-color: $theme-blue-2;
    }

    &:active {
      background-color: $theme-blue-9;
      color: white;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $lrm-disabled-bg-color;
      color: $lrm-disabled-fg-color;
    }
  }

  &.secondary {
    background-color: $theme-blue-1;
    color: $theme-blue-8;

    &:hover {
      background-color: $theme-blue-2;
      color: $theme-blue-9;
    }

    &:focus {
      border-color: $theme-blue-2;
      color: $theme-blue-9;
    }

    &:active {
      background-color: $theme-blue-9;
      color: white;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $lrm-disabled-bg-color;
      color: $lrm-disabled-fg-color;
    }
  }

  &.tertiary {
    background-color: white;
    border: 1px solid $theme-blue-8;
    color: $theme-blue-8;

    &:hover {
      color: $theme-blue-9;
      background-color: $theme-blue-1;
      //      text-decoration: underline;
    }

    &:focus {
      border-color: $theme-blue-2;
      background-color: $theme-blue-3;
    }

    &:active {
      background-color: $theme-blue-4;
      color: white;
      text-decoration: none;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $lrm-disabled-bg-color;
      color: $lrm-disabled-fg-color;
    }
  }
}
