<lrm-page name="Outputs">
  <lrm-card>
    <!-- ------------------------------------------------- -->
    <h2 id="text">Phone</h2>
    <label>Input value: </label>+1 7202348976
    <label>Output value: </label><lrm-output-phone value="+1 7202348976"></lrm-output-phone>

    <markdown src="assets/markdown/outputs/phone.html"></markdown>

    <tut-parameters name="Phone" [parameters]="parameters.outputPhone"></tut-parameters>

    <!-- ------------------------------------------------- -->

    <h2>Colors</h2>

    <table>
      <tr>
        <th>Base Color</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
      </tr>

      <tr>
        <td>Blue</td>
        <td class="chip-blue-1"></td>
        <td class="chip-blue-2"></td>
        <td class="chip-blue-3"></td>
        <td class="chip-blue-4"></td>
        <td class="chip-blue-5"></td>
        <td class="chip-blue-6"></td>
        <td class="chip-blue-7"></td>
        <td class="chip-blue-8"></td>
        <td class="chip-blue-9"></td>
      </tr>

      <tr>
        <td>Red</td>
        <td class="chip-red-1"></td>
        <td class="chip-red-2"></td>
        <td class="chip-red-3"></td>
        <td class="chip-red-4"></td>
        <td class="chip-red-5"></td>
        <td class="chip-red-6"></td>
        <td class="chip-red-7"></td>
        <td class="chip-red-8"></td>
        <td class="chip-red-9"></td>
      </tr>

      <tr>
        <td>Gray</td>
        <td class="chip-gray-1"></td>
        <td class="chip-gray-2"></td>
        <td class="chip-gray-3"></td>
        <td class="chip-gray-4"></td>
        <td class="chip-gray-5"></td>
        <td class="chip-gray-6"></td>
        <td class="chip-gray-7"></td>
        <td class="chip-gray-8"></td>
        <td class="chip-gray-9"></td>
      </tr>

      <tr>
        <td>Yellow</td>
        <td class="chip-yellow-1"></td>
        <td class="chip-yellow-2"></td>
        <td class="chip-yellow-3"></td>
        <td class="chip-yellow-4"></td>
        <td class="chip-yellow-5"></td>
        <td class="chip-yellow-6"></td>
        <td class="chip-yellow-7"></td>
        <td class="chip-yellow-8"></td>
        <td class="chip-yellow-9"></td>
      </tr>

      <tr>
        <td>Green</td>
        <td class="chip-green-1"></td>
        <td class="chip-green-2"></td>
        <td class="chip-green-3"></td>
        <td class="chip-green-4"></td>
        <td class="chip-green-5"></td>
        <td class="chip-green-6"></td>
        <td class="chip-green-7"></td>
        <td class="chip-green-8"></td>
        <td class="chip-green-9"></td>
      </tr>

      <tr>
        <td>Cream</td>
        <td class="chip-cream-1"></td>
        <td class="chip-cream-2"></td>
        <td class="chip-cream-3"></td>
        <td class="chip-cream-4"></td>
        <td class="chip-cream-5"></td>
        <td class="chip-cream-6"></td>
        <td class="chip-cream-7"></td>
        <td class="chip-cream-8"></td>
        <td class="chip-cream-9"></td>
      </tr>

      <tr>
        <td>light-blue</td>
        <td class="chip-light-blue-1"></td>
        <td class="chip-light-blue-2"></td>
        <td class="chip-light-blue-3"></td>
        <td class="chip-light-blue-4"></td>
        <td class="chip-light-blue-5"></td>
        <td class="chip-light-blue-6"></td>
        <td class="chip-light-blue-7"></td>
        <td class="chip-light-blue-8"></td>
        <td class="chip-light-blue-9"></td>
      </tr>



    </table>

  </lrm-card>
</lrm-page>
