@import "../../../../../components/src/styles/variables";

:host {
  display: flex;
  flex: 1;
}

table {
  border-spacing: 30px;
}

td {
  height: 60px;
}

.chip-blue-1 {
  background-color: $theme-blue-1;
}
.chip-blue-2 {
  background-color: $theme-blue-2;
}
.chip-blue-3 {
  background-color: $theme-blue-3;
}
.chip-blue-4 {
  background-color: $theme-blue-4;
}
.chip-blue-5 {
  background-color: $theme-blue-5;
}
.chip-blue-6 {
  background-color: $theme-blue-6;
}
.chip-blue-7 {
  background-color: $theme-blue-7;
}
.chip-blue-8 {
  background-color: $theme-blue-8;
}
.chip-blue-9 {
  background-color: $theme-blue-9;
}

.chip-red-1 {
  background-color: $theme-red-1;
}
.chip-red-2 {
  background-color: $theme-red-2;
}
.chip-red-3 {
  background-color: $theme-red-3;
}
.chip-red-4 {
  background-color: $theme-red-4;
}
.chip-red-5 {
  background-color: $theme-red-5;
}
.chip-red-6 {
  background-color: $theme-red-6;
}
.chip-red-7 {
  background-color: $theme-red-7;
}
.chip-red-8 {
  background-color: $theme-red-8;
}
.chip-red-9 {
  background-color: $theme-red-9;
}

.chip-gray-1 {
  background-color: $theme-gray-1;
}
.chip-gray-2 {
  background-color: $theme-gray-2;
}
.chip-gray-3 {
  background-color: $theme-gray-3;
}
.chip-gray-4 {
  background-color: $theme-gray-4;
}
.chip-gray-5 {
  background-color: $theme-gray-5;
}
.chip-gray-6 {
  background-color: $theme-gray-6;
}
.chip-gray-7 {
  background-color: $theme-gray-7;
}
.chip-gray-8 {
  background-color: $theme-gray-8;
}
.chip-gray-9 {
  background-color: $theme-gray-9;
}

.chip-yellow-1 {
  background-color: $theme-yellow-1;
}
.chip-yellow-2 {
  background-color: $theme-yellow-2;
}
.chip-yellow-3 {
  background-color: $theme-yellow-3;
}
.chip-yellow-4 {
  background-color: $theme-yellow-4;
}
.chip-yellow-5 {
  background-color: $theme-yellow-5;
}
.chip-yellow-6 {
  background-color: $theme-yellow-6;
}
.chip-yellow-7 {
  background-color: $theme-yellow-7;
}
.chip-yellow-8 {
  background-color: $theme-yellow-8;
}
.chip-yellow-9 {
  background-color: $theme-yellow-9;
}

.chip-green-1 {
  background-color: $theme-green-1;
}
.chip-green-2 {
  background-color: $theme-green-2;
}
.chip-green-3 {
  background-color: $theme-green-3;
}
.chip-green-4 {
  background-color: $theme-green-4;
}
.chip-green-5 {
  background-color: $theme-green-5;
}
.chip-green-6 {
  background-color: $theme-green-6;
}
.chip-green-7 {
  background-color: $theme-green-7;
}
.chip-green-8 {
  background-color: $theme-green-8;
}
.chip-green-9 {
  background-color: $theme-green-9;
}

.chip-cream-1 {
  background-color: $theme-cream-1;
}
.chip-cream-2 {
  background-color: $theme-cream-2;
}
.chip-cream-3 {
  background-color: $theme-cream-3;
}
.chip-cream-4 {
  background-color: $theme-cream-4;
}
.chip-cream-5 {
  background-color: $theme-cream-5;
}
.chip-cream-6 {
  background-color: $theme-cream-6;
}
.chip-cream-7 {
  background-color: $theme-cream-7;
}
.chip-cream-8 {
  background-color: $theme-cream-8;
}
.chip-cream-9 {
  background-color: $theme-cream-9;
}

.chip-light-blue-1 {
  background-color: $theme-light-blue-1;
}
.chip-light-blue-2 {
  background-color: $theme-light-blue-2;
}
.chip-light-blue-3 {
  background-color: $theme-light-blue-3;
}
.chip-light-blue-4 {
  background-color: $theme-light-blue-4;
}
.chip-light-blue-5 {
  background-color: $theme-light-blue-5;
}
.chip-light-blue-6 {
  background-color: $theme-light-blue-6;
}
.chip-light-blue-7 {
  background-color: $theme-light-blue-7;
}
.chip-light-blue-8 {
  background-color: $theme-light-blue-8;
}
.chip-light-blue-9 {
  background-color: $theme-light-blue-9;
}

