<lrm-page name="Card with Actions" i18n-name icon="fas fa-home">
  <lrm-card>

    Content goes here

    <lrm-card-actions>
      <lrm-action-complete></lrm-action-complete>
      <lrm-action-cancel></lrm-action-cancel>
    </lrm-card-actions>
  </lrm-card>
</lrm-page>
