<lrm-dialog
  header="Pizza?" i18n-header
  width="400px"
  [visible]="display">
  <lrm-dialog-body>
    <p>
      Are you going to have pizza for lunch?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </lrm-dialog-body>
  <lrm-dialog-actions>
    <lrm-action-yes (execute)="onYes()"></lrm-action-yes>
    <lrm-action-no kind="secondary" (execute)="onNo()"></lrm-action-no>
    <lrm-action-cancel (execute)="onMaybe()"></lrm-action-cancel>
  </lrm-dialog-actions>
</lrm-dialog>
