<lrm-page name="My Page Title" i18n-name icon="fas fa-home">
  <lrm-card>
    <lrm-loading-container [isLoading]="loading" [hasError]="error">
      Content goes here
    </lrm-loading-container>
  </lrm-card>
</lrm-page>
