<lrm-page title="My Page Title" i18n-title icon="fas fa-home">
  <lrm-page-tools>
    <i class="fas fa-adjust"></i>
    <i class="fas fa-battery-half"></i>
    <i class="fas fa-cog"></i>
  </lrm-page-tools>
  <lrm-card>
    Content goes here
  </lrm-card>
</lrm-page>
