<lrm-page name="Tabbed Card" i18n-name icon="fas fa-home">
  <lrm-tabbed-card>
    <lrm-tab label="Green Bay Packers">
      Content goes here
    </lrm-tab>
    <lrm-tab label="Minnesota Vikings">
      Content goes here
    </lrm-tab>
  </lrm-tabbed-card>
</lrm-page>
