<label [ngClass]="{'lrm-required':required}">{{label}}</label>
<mat-radio-group [name]="groupName" *ngIf="formControl" [formControl]="formControl">
  <mat-radio-button  *ngFor="let opt of options"
                     value="{{opt.value}}"
                     [disabled]="disabled">
    {{opt.name}}
  </mat-radio-button>
</mat-radio-group>
<div class="error-hint-container">
  <mat-hint *ngIf="!hasAnyError()">{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
</div>
