<mat-form-field appearance="outline">
  <mat-label>{{label}}</mat-label>
  <mat-select [(ngModel)]="value"
              [required]="required"
              [disabled]="disabled">
    <mat-option *ngFor="let option of options" [value]="option.value" [innerHTML]="option.name"></mat-option>
  </mat-select>
  <mat-hint>{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
</mat-form-field>
