@import "../../inputs/inputs";

:host {

  mat-form-field {
    display: block;
  }

  /*
  p-dropdown {
    display: block;

    ::ng-deep {
      .ui-dropdown {
        display: block;
      }
    }
   }

  &.form-error {
    ::ng-deep {
      .ui-dropdown,
      .ui-dropdown:hover {
        border-color: $lrm-color-error;
      }
      .ui-dropdown-trigger-icon {
        color: $lrm-color-error;
      }
    }
  }
  */
}
