<!--
<p-toast></p-toast>

<lrm-page name="Confirmation Dialog">
  <lrm-card>


    <blockquote>
      Please note that the toast messages that pop up in this example are not part of the default modal behavior.
      They are simply to demonstrate something happening when the onYes() and onNo() methods are invoked.
    </blockquote>

    <p>
      Modals are generally intended to ask the user simple boolean questions. Therefore, we have created this Confirmation Dialog.
    </p>

    <h3>Simplest Form</h3>

    <button (click)="displaySimpleWarningDialog=true">Show</button>

    <p>
      The simplest Confirmation Dialog uses the standard answers of Yes and No.  Also,
      the header is defaulted to Confirm.  It is designed to make development as simple
      and consistent as possible.
    </p>

    <p>
      The developer only needs to supply:
    </p>

    <ul>
      <li>A boolean value to decide when to show the dialog</li>
      <li>A method to be executed when the user presses Yes</li>
      <li>The question, or contents of the dialog</li>
    </ul>

    <markdown src="assets/markdown/confirmation-dialog-simple.html"></markdown>

    <lrm-confirmation-dialog
      [(visible)]="displaySimpleWarningDialog"
      (clickPositive)="onYes()"
      (clickNegative)="onNo()"
      i18n>
      Are you sure you want to do this?
    </lrm-confirmation-dialog>


    <h3>Custom Text</h3>

    <button (click)="displayWarningDialog=true">Show</button>

    <p>
      There may be occasions where the design needs custom button names and/or a custom header.
      This is easily accomplished with additional attributes.
    </p>

    <markdown src="assets/markdown/confirmation-dialog-custom.html"></markdown>

    <lrm-confirmation-dialog
      header="My Warning Dialog"
      i18n-header
      [(visible)]="displayWarningDialog"

      [positiveText]="'Yes, Sir'"
      (clickPositive)="onYes()"
      i18n-positiveText

      [negativeText]="'Oh, No'"
      (clickNegative)="onNo()"
      i18n-negativeText
      i18n>
      Are you sure you want to do this?
    </lrm-confirmation-dialog>



    <h3>Severity</h3>

    <button (click)="displayErrorDialog=true">Show</button>

    <p>
      The default severity is a caution or warning state.  However, there may be times that you
      really want to get the user's attention.  Maybe what that are about to do is destructive
      or dangerous.
    </p>

    <markdown src="assets/markdown/confirmation-dialog-severe.html"></markdown>

    <lrm-confirmation-dialog
      severity="error"
      header="Yikes!!!"
      i18n-header
      [(visible)]="displayErrorDialog"
      positiveText="Ok, Proceed"
      (clickPositive)="onYes()"
      i18n-positiveText
      negativeText="Cancel"
      (clickNegative)="onNo()"
      i18n-negativeText
      i18n>
      You are about to start thermonuclear war
    </lrm-confirmation-dialog>


    <h3>Single Answer</h3>

    <button (click)="displaySingleDialog=true">Show</button>

    <p>
      Occasionally there will be a case where the user just needs to acknowledge some information,
      there is no decision for them to make.  In this case we just need a confirmation button.  This is
      accomplished by setting showNegative to false.
    </p>

    <markdown src="assets/markdown/confirmation-dialog-single.html"></markdown>

    <lrm-confirmation-dialog
      [(visible)]="displaySingleDialog"
      positiveText="Thanks"
      i18n-positiveText
      [showNegative]="false"
      i18n>
      Did you know that winter is coming?
    </lrm-confirmation-dialog>


    <h3>Width</h3>

    <button (click)="displayWidthDialog=true">Show</button>

    <p>
      The width of the modal is typically set by the contents and will autosize accordingly.  However,
      there may be times when it is important to manually specify the width.  This is done with
      the 'style' attribute.
    </p>

    <markdown src="assets/markdown/confirmation-dialog-width.html"></markdown>

    <lrm-confirmation-dialog
      [(visible)]="displayWidthDialog"
      (clickPositive)="onYes()"
      [style]="{width: '500px'}"
      i18n>
      Are you sure you want to do this?
    </lrm-confirmation-dialog>


    <h3>Inputs for ConfirmationDialog</h3>

    <tut-parameters name="ConfirmationDialog" [parameters]="parameters.confirmationDialog"></tut-parameters>

  </lrm-card>
</lrm-page>
-->
