<lrm-page name="Loading Indication">
  <lrm-card>

    <markdown ngPreserveWhitespaces>
      There are often cases where we want to let the user now that something is pending,
      usually loading information from a server.
    </markdown>

<!--
    <p-panel header="Demo">
      <lrm-loading-container [isLoading]="true">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
      </lrm-loading-container>
    </p-panel>
-->

    <markdown ngPreserveWhitespaces>
        There are a few different use cases, pre-defined components (like table, picklist, etc)
        normal layouts not using those components.

      ## Typical
    </markdown>

    <markdown src="assets/markdown/loading-indicator-typical.html"></markdown>

    <markdown ngPreserveWhitespaces>
      To view the behavior or the loading and error states, use the checkboxes below to turn them on or off.

      Note that they can both be visible at the same time.  It is the developer's responsiblity to manage that state.
    </markdown>

    <p>
      Developers can use the individual components <code>lrm-loading-indicator</code> and
      <code>lrm-error-indicator</code> by themselves for edge cases.  However, they
      do require more effort from the developer.
    </p>

  </lrm-card>
</lrm-page>
