<!--
<p-dialog [(visible)]="visible"
          modal="modal"
          showEffect="fade"
          [closable]="false"
          [style]="style"
          [styleClass]="styleClass">

  <p-header>
    <i class="fas fa-exclamation-triangle"></i>
    <span>{{header}}</span>
  </p-header>

  <ng-content></ng-content>

  <p-footer>
    <button type="button"
            class="primary"
            *ngIf="showPositive"
            (click)="clickPositiveHandler()">
      {{positiveText}}
    </button>

    <button type="button"
            class="tertiary"
            *ngIf="showNegative"
            (click)="clickNegativeHandler()">
      {{negativeText}}
    </button>
  </p-footer>
</p-dialog>
-->

<span #defaultHeader class="lrm-translation" i18n>Confirm</span>
<span #positiveAnswer class="lrm-translation" i18n>Yes</span>
<span #negativeAnswer class="lrm-translation" i18n>No</span>
