@import "../../styles/main";
@import "../buttons";
@import "../components-common";

:host {
  ::ng-deep {
    .warning div.ui-dialog-titlebar {
      background-image: linear-gradient(to right, $lrm-warn-notification-bg-light, $lrm-warn-notification-bg-dark);
    }

    .error div.ui-dialog-titlebar {
      background-image: linear-gradient(to right, $lrm-error-notification-bg-light, $lrm-error-notification-bg-dark);
    }

    div.ui-dialog-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  p-header {
    i {
      margin-right: 0.5em;
    }
  }

}

