<ng-content *ngIf="showContentWhileLoading || !(hasError || isLoading)"></ng-content>
<lrm-loading-indicator *ngIf="isLoading"></lrm-loading-indicator>
<lrm-error-indicator *ngIf="hasError"></lrm-error-indicator>
