<lrm-page name="Inputs">
  <lrm-card>
    <form [formGroup]="form">

      <!-- ------------------------------------------------- -->
      <h2 id="text">Text</h2>

      <lrm-input-text
        label="Username"
        i18n-label
        formControlName="username"
        required="true">
      </lrm-input-text>

      <markdown src="assets/markdown/inputs/text.html"></markdown>

      <tut-parameters name="Text" [parameters]="parameters.text"></tut-parameters>

      <!-- ------------------------------------------------- -->
      <h2 id="textarea">TextArea</h2>

      <lrm-input-textarea
        label="Paragraph"
        i18n-label
        formControlName="paragraph"
        maxlength="10"
        rows="2">
      </lrm-input-textarea>

      <markdown src="assets/markdown/inputs/textarea.html"></markdown>

      <tut-parameters name="TextArea" [parameters]="parameters.textarea"></tut-parameters>

      <!-- ------------------------------------------------- -->
      <h2 id="boolean">Boolean</h2>

      <lrm-input-boolean
        label="Send Welcome Email"
        i18n-label
        formControlName="sendWelcomeEmail">
      </lrm-input-boolean>

      <markdown src="assets/markdown/inputs/boolean.html"></markdown>

      <tut-parameters name="Boolean" [parameters]="parameters.boolean"></tut-parameters>


      <!-- ------------------------------------------------- -->
      <h2 id="password">Password</h2>

      <lrm-input-password formControlName="password"></lrm-input-password>

      <markdown src="assets/markdown/inputs/password.html"></markdown>

      <tut-parameters name="Password" [parameters]="parameters.password"></tut-parameters>


      <!-- ------------------------------------------------- -->
      <h2 id="email">Email</h2>

      <lrm-input-email
        label="Email Address"
        i18n-label
        formControlName="email"
        required="true"
        maxlength="150"></lrm-input-email>

      <markdown src="assets/markdown/inputs/email.html"></markdown>

      <tut-parameters name="Email" [parameters]="parameters.email"></tut-parameters>


      <!-- ------------------------------------------------- -->
      <h2 id="date">Date</h2>

      <lrm-input-date
        label="Delivery Date"
        i18n-label
        formControlName="date"
        required="true"></lrm-input-date>

      <markdown src="assets/markdown/inputs/date.html"></markdown>

      <tut-parameters name="Date" [parameters]="parameters.date"></tut-parameters>

      <!-- ------------------------------------------------- -->
      <h2 id="phone">Phone</h2>

      <p>This is a simple example with the minimum attributes (Defaults to US phone number format).</p>

      <lrm-input-phone formControlName="phone"></lrm-input-phone>

      <p>The second example shows that the country selection is set when it can be determined from the given phone number.</p>

      <lrm-input-phone formControlName="phoneFilled"></lrm-input-phone>

      <markdown src="assets/markdown/inputs/phone-simple.html"></markdown>

      <p>This is a more complex example with additional attributes (Default selection is set to British phone number format).</p>

      <lrm-input-phone
        label="Delivery phone number"
        i18n-label
        required
        formControlName="deliveryPhone"
        country="GB">
      </lrm-input-phone>

      <p>The default selection will be overriden when a different country can be determined from the given phone number.</p>

      <lrm-input-phone
        label="Delivery phone number"
        i18n-label
        required
        formControlName="deliveryPhoneFilled"
        country="GB">
      </lrm-input-phone>

      <markdown src="assets/markdown/inputs/phone.html"></markdown>

      <tut-parameters name="Phone" [parameters]="parameters.phone"></tut-parameters>

      <!-- ------------------------------------------------- -->
      <h2 id="ssn">Social Security Number</h2>

      <lrm-input-ssn
        formControlName="ssn"></lrm-input-ssn>

      <markdown src="assets/markdown/inputs/ssn.html"></markdown>

      <tut-parameters name="Social Security Number" [parameters]="parameters.ssn"></tut-parameters>

      <!-- ------------------------------------------------- -->
      <h2 id="time">Time</h2>

      <lrm-input-time formControlName="time"></lrm-input-time>

      <markdown src="assets/markdown/inputs/time.html"></markdown>

      <tut-parameters name="Time" [parameters]="parameters.time"></tut-parameters>

      <!-- ------------------------------------------------- -->
      <h2 id="dateTime">Date & Time</h2>

      <p>This is a simple example with the minimum attributes. Only the form control name is set.</p>

      <lrm-input-datetime formControlName="dateTime"></lrm-input-datetime>

      <markdown src="assets/markdown/inputs/datetime-simple.html"></markdown>

      <p>The second example shows the date and time filled in.</p>

      <lrm-input-datetime
        dateLabel="Delivery date"
        timeLabel="Delivery time"
        dateHint="Fill in or select a delivery date"
        timeHint="Fill in a delivery time"
        formControlName="dateTimeFilled"
        hint="test"
        required>
      </lrm-input-datetime>

      <markdown src="assets/markdown/inputs/datetime.html"></markdown>

      <tut-parameters name="DateTime" [parameters]="parameters.dateTime"></tut-parameters>
    </form>
  </lrm-card>
</lrm-page>
