<div class="content-holder">
  <div class="content"
       [ngClass]="{'scrollable': scrollable, 'not-scrollable': !scrollable}">
    <ng-content></ng-content>
  </div>
</div>
<ng-content select="lrm-card-actions"></ng-content>
