@import "../../../styles/variables";

:host {
  position: relative;

  // Fix IE flex layout stuff
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex: 1 0 auto;
  };
  flex: 1 1 0;

  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 0px;
  border-radius: 8px;

  .content-holder {
//    border: 5px solid green;
    display: flex;
    flex: 1;
    position: relative;

    > div.content {
//      border: 5px solid orange;

      display: flex;
      flex-direction: column;
      margin: 6px;
      padding: 6px;

      &.scrollable {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
      }

      &.not-scrollable {
        flex: 1;
      }
    }
  }
}
