//@import "dist/lrm-ng-components/styles/styles";
@import "projects/components/src/styles/main";

body {
  margin: 0;
  padding: 0;
}

lrm-card.values {
  p {
    margin: 4px;

    span {
      font-weight: bold;
      color: $theme-blue-9;
    }
  }
}


code {
  background: $theme-gray-1;
  color: $theme-red-8;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}



table.lrm-class-attributes {
  border: 1px solid #1C6EA4;
  background-color: white;
  text-align: left;
  border-collapse: collapse;
}
table.lrm-class-attributes td,
table.lrm-class-attributes th {
  border: 1px solid $theme-gray-2;
  padding: 6px 4px;
}
table.lrm-class-attributes tr:nth-child(even) {
  background: $theme-blue-1;
}
table.lrm-class-attributes thead {
  background: $theme-blue-8;
  border-bottom: 2px solid $theme-gray-8;
}
table.lrm-class-attributes thead th {
  font-weight: bold;
  color: #FFFFFF;
}


h2 {
  color: $theme-blue-9;
  font-size: 140%;
  margin-top: 20px;
}

h3 {
  color: $theme-blue-8;
  font-size: 120%;
}

h4 {
  color: $theme-green-4;
}

blockquote {
  font-style: italic;
  color: $theme-blue-8;
}
