<lrm-page name="Input Showcase">
  <lrm-card>

    <form [formGroup]="form">

      <h2>Selections</h2>

      <lrm-radioset
        label="Favorite Color"
        i18n-label
        formControlName="favoriteColor">
        <lrm-option>Red</lrm-option>
        <lrm-option>Green</lrm-option>
        <lrm-option>Blue</lrm-option>
      </lrm-radioset>

            <lrm-checkboxset label="Pizza Toppings" formControlName="pizzaToppings">
              <lrm-option>Pepperoni</lrm-option>
              <lrm-option>Sausage</lrm-option>
              <lrm-option>Onions</lrm-option>
              <lrm-option>Mushrooms</lrm-option>
              <lrm-option>Green Peppers</lrm-option>
              <lrm-option>Anchovies</lrm-option>
            </lrm-checkboxset>

            <lrm-dropdown-single
              label="Favorite Color"
              i18n-label
              formControlName="favoriteColor">
              <lrm-option>Red</lrm-option>
              <lrm-option>Green</lrm-option>
              <lrm-option>Blue</lrm-option>
            </lrm-dropdown-single>

            <lrm-dropdown-multi
              label="Favorite Colors (multiple)"
              i18n-label
              formControlName="favoriteColors">
              <lrm-option>Red</lrm-option>
              <lrm-option>Orange</lrm-option>
              <lrm-option>Yellow</lrm-option>
              <lrm-option>Green</lrm-option>
              <lrm-option>Blue</lrm-option>
              <lrm-option>Purple</lrm-option>
            </lrm-dropdown-multi>

      <h2>Login Information</h2>

      <!--
      Errors:
      - required
      - invalid characters
      - min length
      - max length
      - Cannot be the same as the password
      - Already in use
      -->
      <lrm-input-text
        label="User name"
        i18n-label
        formControlName="userName"
        required="true"
      ></lrm-input-text>

      <!--
      Errors:
      - required
      - min length
      - max length
      - Password needs at least one number and one special character
      -->
      <lrm-input-password
        formControlName="password"
      ></lrm-input-password>

      <!--
      Errors:
      - required
      - Passwords do not match
      -->
      <lrm-input-password
        label="Password Confirmation"
        i18n-label
        formControlName="confirmPassword"
      ></lrm-input-password>

      <!--
      onBlur() ?
      -->
      <lrm-input-boolean
        label="Send User Name Email"
        formControlName="sendUserNameEmail"
      >
      </lrm-input-boolean>
      <!--

            <lrm-action-send-request></lrm-action-send-request>
      -->
      <h2>Location</h2>

      <lrm-input-text
        label="Address"
        i18n-label
        formControlName="address1"
        required="true"
      ></lrm-input-text>

      <lrm-input-text
        label="Address 2"
        i18n-label
        formControlName="address2"
        required="true"
      ></lrm-input-text>

      <lrm-input-text
        label="Address 3"
        i18n-label
        formControlName="address3"
        required="true"
      ></lrm-input-text>

      <lrm-input-text
        label="County"
        i18n-label
        formControlName="county"
        required="true"
      ></lrm-input-text>

      <lrm-dropdown-single
        label="City"
        i18n-label
        formControlName="city">
        <lrm-option>Denver</lrm-option>
        <lrm-option>Fort Collins</lrm-option>
        <lrm-option>Longmont</lrm-option>
      </lrm-dropdown-single>

            <lrm-dropdown-single
              label="State"
              i18n-label
              formControlName="state">
              <lrm-option>Arizona</lrm-option>
              <lrm-option>Colorado</lrm-option>
              <lrm-option>New Mexico</lrm-option>
            </lrm-dropdown-single>

            <lrm-input-text
              label="Zip Code"
              i18n-label
              formControlName="postalCode"
              required="true"
              maxlength="150"
            ></lrm-input-text>

      <h2>Mobile Device Information</h2>

      <lrm-input-boolean
        label="Send to Email"
        i18n-label
        formControlName="sendToEmail"
      ></lrm-input-boolean>

      <lrm-input-boolean
        label="Send to Pager"
        i18n-label
        formControlName="sendToPager"
      ></lrm-input-boolean>

      <lrm-input-boolean
        label="Send to Other Email"
        i18n-label
        formControlName="sendToOtherEmail"
      ></lrm-input-boolean>


            <lrm-input-email
              label="Other Email"
              i18n-label
              formControlName="otherEmail"
              required="true"
              maxlength="150"
            ></lrm-input-email>

      <lrm-input-boolean
        label="Share device with others"
        i18n-label
        formControlName="shareWithOthers"
      ></lrm-input-boolean>

    </form>
  </lrm-card>

  <lrm-card class="values">
    <p><label>Username:</label><span> {{form.value.userName}}</span></p>
    <p><label>Password:</label><span> {{form.value.password}}</span></p>
    <p><label>PW Confirmation:</label><span> {{form.value.confirmPassword}}</span></p>
    <p><label>sendUserNameEmail:</label><span> {{form.value.sendUserNameEmail}}</span></p>
    <p><label>address1:</label><span> {{form.value.address1}}</span></p>
    <p><label>address2:</label><span> {{form.value.address2}}</span></p>
    <p><label>address3:</label><span> {{form.value.address3}}</span></p>
    <p><label>city:</label><span> {{form.value.city}}</span></p>
    <p><label>county:</label><span> {{form.value.county}}</span></p>
    <p><label>state:</label><span> {{form.value.state}}</span></p>
    <p><label>postalCode:</label><span> {{form.value.postalCode}}</span></p>
    <p><label>sendToEmail:</label><span> {{form.value.sendToEmail}}</span></p>
    <p><label>sendToPager:</label><span> {{form.value.sendToPager}}</span></p>
    <p><label>sendToOtherEmail:</label><span> {{form.value.sendToOtherEmail}}</span></p>
    <p><label>otherEmail:</label><span> {{form.value.otherEmail}}</span></p>
    <p><label>shareWithOthers:</label><span> {{form.value.shareWithOthers}}</span></p>
    <p><label>favoriteColor:</label><span> {{form.value.favoriteColor}}</span></p>
    <p><label>favoriteColors:</label><span> {{form.value.favoriteColors}}</span></p>
    <p><label>pizzaToppings:</label><span> {{form.value.pizzaToppings}}</span></p>

    {{form.value | json}}

  </lrm-card>
</lrm-page>
