::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $theme-gray-1;
}

::-webkit-scrollbar-thumb {
  background: $theme-blue-8	;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $theme-blue-9;
}
