
$text-size-1: 2.0000em;
$text-size-2: 1.6818em;
$text-size-3: 1.4142em;
$text-size-4: 1.1892em;
$text-size-5: 1.0000em;
$text-size-6: 0.8409em;

* {
  font-family: $lrm-font-family;
}

h1,
.lrm-header {
  font-size: $text-size-1;
  font-weight: bold;
  color: $lrm-primary-darker-color;
}

h2,
.lrm-subheader {
  font-size: $text-size-2;
  font-weight: bold;
  color: black;
}

h3,
.lrm-title {
  font-size: $text-size-3;
  font-weight: bold;
  color: black;
}

h4,
.lrm-subtitle {
  font-size: $text-size-4;
  font-weight: bold;
  color: #00539b;
}

.lrm-body {
}

.lrm-subtext {
  font-size: $text-size-6;
}

.lrm-field-entry-label {
}

.lrm-field-entry-label-error {
  color: #d8523b;
}

.lrm-field-entry-body {
  font-weight: bold;
}

.lrm-field-entry-mask {
  color: #999899;
  font-style: italic;
}

.lrm-field-entry-helper-text {
  font-style: italic;
}

.lrm-field-entry-helper-text-error {
  color: #d8523b;
  font-style: italic;
}


p {
  line-height: 150%;
  margin-bottom: 1em;
}
