$lrm-font-family: "Fruitiger", "Segoe UI", "Arial";
$lrm-font-size: 14px;


/*
Type Sizes
 */

$text-size-1: 2.0000em;
$text-size-2: 1.6818em;
$text-size-3: 1.4142em;
$text-size-4: 1.1892em;
$text-size-5: 1.0000em;
$text-size-6: 0.8409em;

/*
 Raw Colors
 */

$theme-blue: #3b8beb;
$theme-red: #f54535 ;
$theme-cream: #e7e3d4;
$theme-light-blue: #c4dbf6;
$theme-gray: #8590aa;

$theme-green: green;
$theme-yellow: yellow;

$pct-1: 10%;
$pct-2: 20%;
$pct-3: 30%;
$pct-4: 40%;


$theme-blue-1: lighten( $theme-blue, $pct-4);
$theme-blue-2: lighten( $theme-blue, $pct-3);
$theme-blue-3: lighten( $theme-blue, $pct-2);
$theme-blue-4: lighten( $theme-blue, $pct-1);
$theme-blue-5: $theme-blue;
$theme-blue-6: darken( $theme-blue, $pct-1);
$theme-blue-7: darken( $theme-blue, $pct-2);
$theme-blue-8: darken( $theme-blue, $pct-3);
$theme-blue-9: darken( $theme-blue, $pct-4);

$theme-red-1: lighten( $theme-red, $pct-4);
$theme-red-2: lighten( $theme-red, $pct-3);
$theme-red-3: lighten( $theme-red, $pct-2);
$theme-red-4: lighten( $theme-red, $pct-1);
$theme-red-5: $theme-red;
$theme-red-6: darken( $theme-red, $pct-1);
$theme-red-7: darken( $theme-red, $pct-2);
$theme-red-8: darken( $theme-red, $pct-3);
$theme-red-9: darken( $theme-red, $pct-4);

$theme-gray-1: lighten( $theme-gray, $pct-4);
$theme-gray-2: lighten( $theme-gray, $pct-3);
$theme-gray-3: lighten( $theme-gray, $pct-2);
$theme-gray-4: lighten( $theme-gray, $pct-1);
$theme-gray-5: $theme-gray;
$theme-gray-6: darken( $theme-gray, $pct-1);
$theme-gray-7: darken( $theme-gray, $pct-2);
$theme-gray-8: darken( $theme-gray, $pct-3);
$theme-gray-9: darken( $theme-gray, $pct-4);

$theme-yellow-1: lighten( $theme-yellow, $pct-4);
$theme-yellow-2: lighten( $theme-yellow, $pct-3);
$theme-yellow-3: lighten( $theme-yellow, $pct-2);
$theme-yellow-4: lighten( $theme-yellow, $pct-1);
$theme-yellow-5: $theme-yellow;
$theme-yellow-6: darken( $theme-yellow, $pct-1);
$theme-yellow-7: darken( $theme-yellow, $pct-2);
$theme-yellow-8: darken( $theme-yellow, $pct-3);
$theme-yellow-9: darken( $theme-yellow, $pct-4);

$theme-green-1: lighten( $theme-green, $pct-4);
$theme-green-2: lighten( $theme-green, $pct-3);
$theme-green-3: lighten( $theme-green, $pct-2);
$theme-green-4: lighten( $theme-green, $pct-1);
$theme-green-5: $theme-green;
$theme-green-6: darken( $theme-green, $pct-1);
$theme-green-7: darken( $theme-green, $pct-2);
$theme-green-8: darken( $theme-green, $pct-3);
$theme-green-9: darken( $theme-green, $pct-4);

$theme-cream-1: lighten( $theme-cream, $pct-4);
$theme-cream-2: lighten( $theme-cream, $pct-3);
$theme-cream-3: lighten( $theme-cream, $pct-2);
$theme-cream-4: lighten( $theme-cream, $pct-1);
$theme-cream-5: $theme-cream;
$theme-cream-6: darken( $theme-cream, $pct-1);
$theme-cream-7: darken( $theme-cream, $pct-2);
$theme-cream-8: darken( $theme-cream, $pct-3);
$theme-cream-9: darken( $theme-cream, $pct-4);

$theme-light-blue-1: lighten( $theme-light-blue, $pct-4);
$theme-light-blue-2: lighten( $theme-light-blue, $pct-3);
$theme-light-blue-3: lighten( $theme-light-blue, $pct-2);
$theme-light-blue-4: lighten( $theme-light-blue, $pct-1);
$theme-light-blue-5: $theme-light-blue;
$theme-light-blue-6: darken( $theme-light-blue, $pct-1);
$theme-light-blue-7: darken( $theme-light-blue, $pct-2);
$theme-light-blue-8: darken( $theme-light-blue, $pct-3);
$theme-light-blue-9: darken( $theme-light-blue, $pct-4);

/*
 * Named Colors
 */

$lrm-primary-color: $theme-blue-7;
$lrm-primary-dark-color: $theme-blue-8;
$lrm-primary-darker-color: $theme-blue-9;

$lrm-primary-text-color: $theme-gray-9;
$lrm-secondary-text-color: $theme-gray-5;

$lrm-text-on-dark-bg-color: white;

$lrm-hover-color: $theme-blue-1;

$lrm-disabled-bg-color: $theme-gray-5;
$lrm-disabled-fg-color: $theme-gray-8;

$lrm-icon-color: $theme-gray-8;

$lrm-color-success: $theme-green-4;
$lrm-color-warn: $theme_yellow-5;
$lrm-color-error: $theme-red-6;

$lrm-border-color: $theme-gray-3;

$lrm-form-element-border-color: $theme-gray-6;
$lrm-form-element-border-color-error: $theme-red-6;
$lrm-form-element-border-color-hover: $theme-blue-9;
$lrm-form-element-border-width: 1px;

$lrm-table-background: white;
$lrm-even-row-bg-color: $theme-blue-1;

$lrm-button-text-color: white;

/*
 * Notification Colors
 */

$lrm-success-notification-bg-light: #8CC97A;
$lrm-success-notification-bg-dark: #209C68;
$lrm-success-notification-bg-text: black;

$lrm-info-notification-bg-light: $theme-blue-2;
$lrm-info-notification-bg-dark: $theme-blue-6;
$lrm-info-notification-bg-text: black;

$lrm-warn-notification-bg-light: #F5E0A2;
$lrm-warn-notification-bg-dark: #F4D163;
$lrm-warn-notification-bg-text: black;

$lrm-error-notification-bg-light: #E48475;
$lrm-error-notification-bg-dark: #D8523B;
$lrm-error-notification-bg-text: black;

$lrm-border-radius: 4px;

