@import 'node_modules/@angular/material/theming';
@import './variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$mat-lrm-blue: (
  50: $theme-blue-3,
  100: $theme-blue-4,
  200: $theme-blue-5,
  300: $theme-blue-6,
  400: $theme-blue-7,
  500: $theme-blue-8,
  600: $theme-blue-9,
  700: $theme-blue-9,
  800: $theme-blue-9,
  900: $theme-blue-9,
  A100: $theme-blue-3,
  A200: $theme-blue-4,
  A400: $theme-blue-8,
  A700: $theme-blue-9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-lrm-green: (
  50: #EAF7E9,
  100: #CCEAC8,
  200: #AADCA4,
  300: #87CE7F,
  400: #6EC463,
  500: #54B948,
  600: #4DB241,
  700: #43AA38,
  800: #3AA230,
  900: #299321,
  A100: #AADCA4,
  A200: #6EC463,
  A400: #4DB241,
  A700: #3AA230,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(178, 227, 253, .4);
  }
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lrm-app-primary: mat-palette($mat-lrm-blue);
$lrm-app-accent:  mat-palette($mat-lrm-blue);

// The warn palette is optional (defaults to red).
$lrm-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lrm-app-theme: mat-light-theme($lrm-app-primary, $lrm-app-accent, $lrm-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lrm-app-theme);


// The following fixes decenders for our chosen fonts
.mat-form-field {
  line-height: 1.25;
}

.mat-option.mat-active {
  background: $lrm-hover-color !important;
}

.mat-option:hover {
  background: $lrm-hover-color !important;
}

