<button (click)="show(mybutton, mytemplate)" #mybutton>Entered By</button>

<ng-template #mytemplate>
  <lrm-popover-title>Entered By</lrm-popover-title>
  <lrm-popover-content>
    <lrm-label label="Name" i18n-title i18n>Fred Jones</lrm-label>
    <lrm-label label="Date and Time" i18n-title i18n>08/13/2022 7:23</lrm-label>
  </lrm-popover-content>
</ng-template>
