@import "../../../styles/variables";

:host {
  padding: 4px;
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: $text-size-5;

  &.form-error {
    label {
      color: $lrm-color-error;
    }

    input,
    input:hover,
    input:focus {
      border-color: $lrm-color-error;
    }
  }

  label {
    color: $theme-blue-9;
    display: block;
    margin-bottom: 4px;
  }

  input {
    display: block;
    width: 100%;
  }

  .error-hint-container {
    height: 19px;
    padding-left: 7px;
    margin-top: 2px;
    font-size: 12px;


    .error {
      color: $lrm-color-error;
    }

    .hint {
      color: $theme-gray-7;
    }
  }

  mat-form-field {
    display: block;
  }

  ::ng-deep {
    .mat-placeholder-required,
    .mat-form-field-required-marker {
      color: $lrm-color-error;
    }
  }
}

