<div class="phone-input">
  <mat-form-field appearance="outline" class="country-select">
    <div class="flag-container" title="{{countryTitle}}" (click)="displayDropDown()">
      <div class="flag {{countryIso2Code}}">
        <div class="arrow up"></div>
      </div>
    </div>
    <mat-select #countrySelect [(value)]="selectedCountry" (openedChange)="openedChange($event)">
      <div style="padding: 3px 15px;">
        <input
          #searchInput
          matInput
          (keyup)="onSearch($event.target.value)"
          i18n-placeholder
          placeholder="Search for a country">
      </div>
      <mat-option *ngFor="let country of countries" [value]="country">
        <span class="flag {{country.iso2Code}}"></span>
        <span> {{country.name}}</span><span class="dial-code"> +{{country.dialCode}}</span>
      </mat-option>
      <div *ngIf="!countries || countries.length <= 0">
        <span i18n>No countries match the filter</span>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="formControl">
    <mat-label #inputLabel>{{label}}</mat-label>
    <input
      #phoneInput
      type="tel"
      matInput
      [formControl]="formControl"
      [errorStateMatcher]="errorStateMatcher"
      [required]="required"
      [placeholder]="placeholder"
      (click)="onFocus()"
      (blur)="onBlur()"
      [textMask]="{mask: inputMask && inputMask.length > 0 ? inputMask : false, guide: false}">
    <mat-hint>{{hint}}</mat-hint>
    <mat-error *ngIf="hasError('minlength')">{{label}} <span i18n>not long enough</span></mat-error>
    <mat-error *ngIf="hasError('maxlength')">{{label}} <span i18n>too long</span></mat-error>
    <mat-error *ngIf="hasError('required')">{{label}} <span i18n>required</span></mat-error>
    <mat-error *ngIf="hasError('pattern')">{{label}} {{patternError}}</mat-error>
  </mat-form-field>
  <span class="lrm-translation" #defaultLabel i18n>Phone</span>
</div>
