@import "../../inputs/inputs";

:host {
  p-checkbox {
    display: block;
  }
  mat-checkbox {
    display: block;
  }
  ::ng-deep {
    .mat-list-option .mat-list-item-content {
      flex-direction: row !important;

      mat-pseudo-checkbox {
        margin-right: 10px;
      }
    }
  }
}
