<label [ngClass]="{'lrm-required':required}">{{label}}</label>
<mat-selection-list [(ngModel)]="value" [disabled]="disabled">
  <mat-list-option
    *ngFor="let opt of options"
    [value]="opt.value">
    {{opt.name}}
  </mat-list-option>
</mat-selection-list>
<div class="error-hint-container">
  <mat-hint *ngIf="!hasAnyError()">{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
</div>
