<lrm-page name="LRM Components">
  <lrm-card>
    <markdown src="assets/docs/home.md" ngPreserveWhitespaces></markdown>
    <markdown src="assets/docs/index.md" ngPreserveWhitespaces></markdown>
  </lrm-card>
</lrm-page>
