<!--
<div [ngClass]="'ui-overlaypanel ui-widget ui-widget-content ui-corner-all ui-shadow'"
     (click)="onContainerClick()"
     [@animation]="{value: 'visible', params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}}"
     (@animation.start)="onAnimationStart($event)"
     *ngIf="visible">
  <div class="ui-overlaypanel-content">
    <ng-content></ng-content>
  </div>
  <a tabindex="0" *ngIf="showCloseIcon" class="ui-overlaypanel-close ui-state-default" (click)="onCloseClick($event)" (keydown.enter)="hide()">
    <span class="ui-overlaypanel-close-icon pi pi-times"></span>
  </a>
</div>
-->
