<mat-form-field appearance="outline" *ngIf="formControl">
  <mat-label>{{label}}</mat-label>
  <textarea matInput 
    [formControl]="formControl"
    [errorStateMatcher]="errorStateMatcher"
    [required]="required"
    [placeholder]="placeholder"
    [attr.rows]="rows">
  </textarea>
  <mat-hint>{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('minlength')">{{label}} <span i18n>Not long enough</span></mat-error>
  <mat-error *ngIf="hasError('maxlength')">{{label}} <span i18n>Too long</span></mat-error>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
  <mat-error *ngIf="hasError('pattern')">{{label}} {{patternError}}</mat-error>
</mat-form-field>
