<mat-form-field appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input matInput
    [disabled]="disabled"
    [required]="required"
    [(ngModel)]="displayValue"
    (click)="onFocus()"
    (blur)="onBlur()">
  <mat-hint>{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('minlength')">{{label}} <span i18n>Not long enough</span></mat-error>
  <mat-error *ngIf="hasError('maxlength')">{{label}} <span i18n>Too long</span></mat-error>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
</mat-form-field>

<span class="lrm-translation" #defaultLabel i18n>Time</span>
