@import "../../../styles/variables";

$paddingX: 8px;
$paddingY: 4px;

:host {
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);

  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  //  background-color: white;
  //  border: 2px solid $lrm-border-color;
  //  border-radius: 12px;
  overflow: hidden;
  //  box-shadow: 6px 4px 9px 0px rgba(189,189,189,0.82);

  position: relative;
  //  background: #ffffff;
  //  border: 2px solid #eeeeee;

  .lrm-hide-from-bootstrap-popover {
    display: flex;
    flex: 1;
    flex-direction: column;

    .title {
      color: white;
      font-weight: bold;
      background-color: $theme-blue-8;
      background: linear-gradient(to right, $theme-blue-9 0%, $theme-blue-7 100%);
      overflow: hidden;
      padding-left: $paddingX;
      padding-right: $paddingX;
      padding-top: $paddingY;
      padding-bottom: $paddingY;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: $paddingX;
      padding-right: $paddingX;
      padding-top: $paddingY;
      padding-bottom: $paddingY;
      background-color: white;
    }
  }
}

/*
.arrow_box {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  //  overflow: hidden;
  //  box-shadow: 6px 4px 9px 0px rgba(189,189,189,0.82);
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 2px solid #eeeeee;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 42px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(238, 238, 238, 0);
  border-right-color: #eeeeee;
  border-width: 13px;
  margin-top: -13px;
}
*/
