:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  flex: 1;

  ::ng-deep {
    > * {
      padding-left: 8px;
      padding-right: 8px;
    }
    > i {
      font-size: 20px;
      cursor: pointer;
    }

  }
}
