<lrm-page name="Popover">
  <lrm-card>

    <markdown ngPreserveWhitespaces>
      Popovers are use to temporarily display information when a user clicks on an icon, button
      or some other element that indicates additional information is available.  The popover is
      closed when the user clicks anywhere on the page outside the popover.

      The things that are needed for this to work are:

      * An element to initiate display of the popover
      * An element to which the popover will be attached.  This is usually the same as the initiating element.
      * A template providing the information to display.

      When the button is clicked, it calls a method local to the component, passing in a reference to
      the template to be displayed and the

    </markdown>

    <div>
      <button (click)="show(mybutton, mytemplate)" #mybutton>Entered By</button>
    </div>

    <markdown ngPreserveWhitespaces>
      ## Simplest Example

      ### HTML

      The following example shows the button initiating the action and the template.

      The template should contain two elements in order.

      * A `lrm-popover-title` containing text to display on the header
      * A `lrm-popover-content` containing HTML to be displayed in the body of the popover
    </markdown>

    <markdown src="assets/markdown/popover/popover1.html"></markdown>

    <markdown ngPreserveWhitespaces>
      ### Typescript

      The click event calls a typscript function that in turn calls the popover
      service `open` method.

    </markdown>

    <markdown src="assets/markdown/popover/popover1.ts"></markdown>


    <markdown ngPreserveWhitespaces>
      ## Dimensions

      With no dimensions specified, the width defaults to 300 pixels.  The height shrinks or
      expands to fit the content provided.  This is the most likely usage.

      However, there are times when the content is large that it makes sense to specify the
      height, width or both.

      ### Specifying Width

      Width is specified in the call to the popoverService.  An optional width parameter is added.
      The width values will typicall be in pixels, but can be any valid width value.

    </markdown>

    <button (click)="showFixedWidth(widthbutton, mytemplate)" #widthbutton>Show Fixed Width</button>

    <markdown src="assets/markdown/popover/popover.width.ts"></markdown>

    <markdown ngPreserveWhitespaces>

    ### Specifying Height

      The height can also be specified.  However, for technical reasons, at this time is
      requires two steps.

      * Set the height, and
      * Make the content scrollable

    The height is set quite similar to the width parameter.

    </markdown>

    <markdown src="assets/markdown/popover/popover.height.ts"></markdown>

    <markdown ngPreserveWhitespaces>

      #### Scrolling

      In order to accomodate the possible extra content, the content must be set to
      scrollable as follows:

    </markdown>

    <markdown src="assets/markdown/popover/popover.height.html"></markdown>


    <button (click)="show(origin2, results)" #origin2>Show Shrink Wrapped</button>
    <button (click)="showFixedHeight(origin3, results2)" #origin3>Show Fixed Height</button>

    <markdown ngPreserveWhitespaces>

      **WARNING:**

      If you specify `scrollable=true` and do not specify a fixed height, nothing will show up
      and the popover will be very short.

    </markdown>


    <markdown ngPreserveWhitespaces>

      ### Manual Closing

      Normally, the popover is closed when the user clicks anywhere outside the popover boundaries.
      However, there may be times when the popover contains a button or hyperlink and the developer
      want to close the popover after the user clicks on that item inside the popover boundary.

      This is accomplished by saving the popover reference to the popover returned by the `open()` call. Then,
      at the appropriate time, the software can call the `close()` method using that same popover reference.

      In the following example, clicking the Go button will cause the popover to disappear.
    </markdown>

    <button (click)="show(origin4, results3)" #origin4>Show with Manual Close</button>

    <markdown src="assets/markdown/popover/popover.close.ts"></markdown>

  </lrm-card>
</lrm-page>

<ng-template #results>
  <lrm-popover-title>Results</lrm-popover-title>
  <lrm-popover-content>
    <lrm-label label="Crust">Thin</lrm-label>
    <lrm-label label="Sauce">Marinara</lrm-label>
    <lrm-label label="Toppings">Cheese, Pepperoni, Onions, Mushrooms</lrm-label>
    <lrm-label label="Drinks">Pepsi, Mountain Dew</lrm-label>
    <lrm-label label="Address">10 Main St., Denver CO 12345</lrm-label>
    <lrm-action-container>
      <lrm-action-go></lrm-action-go>
    </lrm-action-container>
  </lrm-popover-content>
</ng-template>

<ng-template #results2>
  <lrm-popover-title>Results</lrm-popover-title>
  <lrm-popover-content scrollable="true">
    <lrm-label label="Crust">Thin</lrm-label>
    <lrm-label label="Sauce">Marinara</lrm-label>
    <lrm-label label="Toppings">Cheese, Pepperoni, Onions, Mushrooms</lrm-label>
    <lrm-label label="Drinks">Pepsi, Mountain Dew</lrm-label>
    <lrm-label label="Address">10 Main St., Denver CO 12345</lrm-label>
    <lrm-action-container>
      <lrm-action-go></lrm-action-go>
    </lrm-action-container>
  </lrm-popover-content>
</ng-template>

<ng-template #results3>
  <lrm-popover-title>Results</lrm-popover-title>
  <lrm-popover-content>
    <lrm-label label="Crust">Thin</lrm-label>
    <lrm-label label="Sauce">Marinara</lrm-label>
    <lrm-label label="Toppings">Cheese, Pepperoni, Onions, Mushrooms</lrm-label>
    <lrm-label label="Drinks">Pepsi, Mountain Dew</lrm-label>
    <lrm-label label="Address">10 Main St., Denver CO 12345</lrm-label>
    <lrm-action-container>
      <lrm-action-go (execute)="close()"></lrm-action-go>
    </lrm-action-container>
  </lrm-popover-content>
</ng-template>

<ng-template #mytemplate>
  <lrm-popover-title>Entered By</lrm-popover-title>
  <lrm-popover-content>
    <lrm-label label="Name" i18n-title i18n>Fred Jones</lrm-label>
    <lrm-label label="Date and Time" i18n-title i18n>2/3/2023 9:47</lrm-label>
  </lrm-popover-content>
</ng-template>
