<!--
<p-dialog
  [(visible)]="visible"
  modal="modal"
  showEffect="fade"
  [closable]="false"
  [header]="header"
  [style]="style">
  <ng-content select="lrm-dialog-body"></ng-content>
  <ng-content select="lrm-dialog-actions"></ng-content>
</p-dialog>
-->
