<lrm-page name="Required Indicator">
  <lrm-card>

    <markdown>
      A required indicator typically follows a label to let the user know that the input
      must be provided.
    </markdown>

    <h2>Typical</h2>

    <markdown>
      The most likely usage is to simply apply the class to a label.
    </markdown>

    <label class="lrm-required">My Field</label>
    <input type="text">

    <markdown src="assets/markdown/required-indicator-typical.html"></markdown>

    <h2>Conditional</h2>

    <markdown>
      Occasionally, there will be an instance where the required indicator will be shown
      depending on some condition.  The following example shows how this can be done.
    </markdown>

<!--
    <p-checkbox [(ngModel)]="checked" label="Show Required" binary="true"></p-checkbox>
-->
    <label [ngClass]="{'lrm-required': checked}">My Field</label>
    <input type="text">

    <markdown src="assets/markdown/required-indicator-conditional.html"></markdown>

  </lrm-card>
</lrm-page>
