<header>
  <h1>LRM Angular Components</h1>
  <span class="version">v{{appVersion}}</span>
</header>

<div class="content">

  <nav>
    <div class="nav-content">
      <a href="home">Home</a>
      <a href="actions">Actions</a>

      <h3>Forms</h3>
      <a href="inputs">Inputs</a>
      <a href="selections">Selections</a>
      <a href="formsampler">Form Sampler</a>
      <a href="requiredindicator">Required Indicator</a>

      <h3>Layout</h3>

      <a href="actioncontainer">Action Container</a>
      <a href="confirmationdialog">Confirmation Dialog</a>
      <a href="dialog">Dialog</a>
      <a href="page">Pages</a>
      <a href="popover">Popover</a>
      <a href="loadingindicator">Loading Indicator</a>

      <h3>Formatting</h3>
      <a href="outputs">Outputs</a>

      <h3>Other</h3>
      <a href="installation">Installation</a>
      <a href="roadmap">Roadmap</a>
      <a href="releasenotes">Release Notes</a>
      <a href="issues">Known Issues</a>
      <a href="development">Development</a>

      <!--
            <p-panelMenu [model]="items"></p-panelMenu>
      -->
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

</div>
