@import "projects/components/src/styles/main";

:host {
  display: flex;
  flex-direction: column;

  header {
    padding: 10px;
    background-color: $theme-blue-9; /* For browsers that do not support gradients */
    background: linear-gradient(90deg, $theme-blue-9 0%, $theme-blue-7 100%);
    color: white;

    h1 {
      display: inline-block;
      margin: 0;
      color: white;
    }

    .version {
      float: right;
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;;

    nav {
      display: flex;
      flex: 0 0 10em;
      flex-direction: column;
      //    border: 1px solid blue;
      overflow: auto;
      background-color: $theme-gray-4;
      position: relative;

      a {
        display: block;
        cursor: pointer;
        margin: 5px;
        padding: 5px;
        //      border: 1px solid blue;
        border-radius: 5px;
        background-color: white;

        &:hover {
          background-color: $theme-gray-1;
        }
      }
    }

    main {
      display: flex;
      flex: 1;
      //    border: 1px solid red;
    }
  }
}


.nav-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 6px;
}
