@import "../../../styles/variables";

$paddingX: 8px;
$paddingY: 4px;

:host {
  display: block;
  color: white;
  font-weight: bold;
  background-color: $theme-blue-8;
  background: linear-gradient(to right, $theme-blue-9 0%,$theme-blue-7 100%);
  overflow: hidden;
  padding-left: $paddingX;
  padding-right: $paddingX;
  padding-top: $paddingY;
  padding-bottom: $paddingY;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -$paddingX;
  margin-right: -$paddingX;
  margin-top: -$paddingY;
  margin-bottom: 12px;
}
