@import "../../../../styles/variables";

$padding: 4px;

:host{
//  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.20);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.12);

  border-top: 2px solid $theme-gray-2;

  padding-top: $padding;
  padding-bottom: $padding;
}
