@import "../../../styles/variables";

:host {
  padding: 10px;
  background-image: linear-gradient(27deg, rgb(0, 52, 97), $theme-blue-9);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;

  .page-header {
    display: flex;
    flex-direction: row;

    h1 {
      color: white;
      font-size: 1.68em;

      i {
        margin-right: 0.4em;
      }
    }

    .page-tools {
      flex: 1;
      display: flex;
    }
  }

  .page-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  }

  ::ng-deep {
    > div > lrm-card:nth-child(n+2) {
      margin-left: 10px;
    }
  }
}
