<div class="page-header">
  <h1>
    <i *ngIf="icon" class="{{icon}}"></i>{{ name }}
  </h1>
  <div class="page-tools">
    <ng-content select="lrm-page-tools"></ng-content></div>
</div>

<div class="page-content">
  <ng-content></ng-content>
</div>
