@import "../buttons";
@import "../components-common";

:host {
  display: inline-block;
  margin: 4px 8px;
}

.small {
  height: 32px;
  width: 32px;
  padding: 0px  8px;

  i {
    font-size: 14px;
  }
}
