<button
  type="button"
  class="{{ styleClass }}"
  type="{{ type }}"
  (click)="execute.emit()"
  [disabled]="disabled"
  [ngClass]="{ small: size === 'small' }">
  <i *ngIf="size === 'small'" [class]="icon"></i>
  <ng-container *ngIf="size === 'normal'">{{ text$ | async }}</ng-container>
</button>

<span class="lrm-translation" *ngIf="button === buttonset.Add" i18n>Add</span>
<span class="lrm-translation" *ngIf="button === buttonset.Back" i18n>Back</span>
<span class="lrm-translation" *ngIf="button === buttonset.Cancel" i18n>Cancel</span>
<span class="lrm-translation" *ngIf="button === buttonset.Close" i18n>Close</span>
<span class="lrm-translation" *ngIf="button === buttonset.Complete" i18n>Complete</span>
<span class="lrm-translation" *ngIf="button === buttonset.Continue" i18n>Continue</span>
<span class="lrm-translation" *ngIf="button === buttonset.Create" i18n>Create</span>
<span class="lrm-translation" *ngIf="button === buttonset.Delete" i18n>Delete</span>
<span class="lrm-translation" *ngIf="button === buttonset.Deny" i18n>Deny</span>
<span class="lrm-translation" *ngIf="button === buttonset.Decline" i18n>Decline</span>
<span class="lrm-translation" *ngIf="button === buttonset.Download" i18n>Download</span>
<span class="lrm-translation" *ngIf="button === buttonset.Edit" i18n>Edit</span>
<span class="lrm-translation" *ngIf="button === buttonset.Export" i18n>Export</span>
<span class="lrm-translation" *ngIf="button === buttonset.Go" i18n>Go</span>
<span class="lrm-translation" *ngIf="button === buttonset.Logout" i18n>Logout</span>
<span class="lrm-translation" *ngIf="button === buttonset.Next" i18n>Next</span>
<span class="lrm-translation" *ngIf="button === buttonset.No" i18n>No</span>
<span class="lrm-translation" *ngIf="button === buttonset.Previous" i18n>Previous</span>
<span class="lrm-translation" *ngIf="button === buttonset.Print" i18n>Print</span>
<span class="lrm-translation" *ngIf="button === buttonset.Refresh" i18n>Refresh</span>
<span class="lrm-translation" *ngIf="button === buttonset.Remove" i18n>Remove</span>
<span class="lrm-translation" *ngIf="button === buttonset.Reset" i18n>Reset</span>
<span class="lrm-translation" *ngIf="button === buttonset.Save" i18n>Save</span>
<span class="lrm-translation" *ngIf="button === buttonset.Search" i18n>Search</span>
<span class="lrm-translation" *ngIf="button === buttonset.Select" i18n>Select</span>
<span class="lrm-translation" *ngIf="button === buttonset.Send" i18n>Send</span>
<span class="lrm-translation" *ngIf="button === buttonset.Submit" i18n>Submit</span>
<span class="lrm-translation" *ngIf="button === buttonset.Upload" i18n>Upload</span>
<span class="lrm-translation" *ngIf="button === buttonset.Wait" i18n>Wait</span>
<span class="lrm-translation" *ngIf="button === buttonset.Yes" i18n>Yes</span>
