@import "../../../styles/variables";

$spacing: 8px;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tab {
      background-color: #4968A0;
      background: linear-gradient(0deg, #436095, #4968A0 );
      color: white;
      font-size: 16px;
      cursor: pointer;
      height: 38px;  // This could possibly be computed from $spacing*2 + text-height
      padding: $spacing;
      margin-left: $spacing;
      border-radius: 4px 4px 0 0;

      &.hide {
        display: none;
      }

      &.selected {
        color: $theme-blue-8;
        background-color: white;
        background: linear-gradient(0deg, white, white );
        font-weight: bold;
      }

      &:nth-child(1) {
        margin-left: 0;
      }

      &.itemIsHidden {
        display: none !important;
      }

      i.menu-trigger {
        font-size: 20px;
        padding-left: 6px;
        padding-right: 6px;
        color: white;
        cursor: pointer;

      }
    }
  }

  .content-holder {
    flex: 1;
    display: flex;
    background-color: white;
    position: relative;

    border-radius: 6px;
    border-top-left-radius: 0;
    padding: 8px;

    .content {

      display: flex;
      flex-direction: column;
      margin: 6px;
      padding: 6px;

      &.scrollable {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
      }

      &.not-scrollable {
        flex: 1;
      }

    }
  }


}

.hiddenTabs {
  visibility: hidden;
  position: absolute;  // Make it not be a part of the calculations.
}

lrm-popover-content .menuItem {
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;

  &:hover {
    background-color: $lrm-hover-color;
  }
}

/*
// Handle the popup
:host {
  ::ng-deep {
    .ui-overlaypanel {
      transform: translateX(-150px) !important;
    }
  }
}
*/
