<div class="tabs" #tabContainer>

  <div *ngFor="let item of items" class="tab"
       (click)="itemSelected(item)"
       [ngClass]="{'itemIsHidden': !item.visible, 'selected': item.selected}">
    <span class="textName">{{item.text}}</span>
  </div>

  <div class="tab menu-trigger" #trigger [ngClass]="{ 'hide': !secondaryItemsExist }">
    <i class="fas fa-caret-down menu-trigger"
       (click)="showSecondaryMenu(trigger, secondaryMenu)">
    </i>
  </div>

</div>

<ng-template #secondaryMenu>
  <lrm-popover-content>
    <div *ngFor="let item of items">
      <div *ngIf="!item.visible" class="menuItem" (click)="itemSelected(item)">
        {{item.text}}
      </div>
    </div>
  </lrm-popover-content>
</ng-template>

<div class="content-holder">
  <div class="content"
       [ngClass]="{'scrollable': scrollable, 'not-scrollable': !scrollable}">
    <ng-content></ng-content>
  </div>
</div>

<div class="tabs hiddenTabs" #hiddenTabs>
  <div *ngFor="let item of items" class="tab">
    <span class="textName">{{item.text}}</span>
  </div>
</div>
