<lrm-page name="Tabbed Card" i18n-name icon="fas fa-home">
  <lrm-tabbed-card [scrollable]="true">
    <lrm-tab label="Green Bay Packers">
      <p class="wins">Number of Superbowl Rings: <span class="count">4</span></p>
      <p class="wins">Number of NFL Championships (before Super Bowl): <span class="count">11</span></p>
      <p>The Green Bay Packers are a professional American football team based in Green Bay, Wisconsin. The Packers compete in the National Football League (NFL) as a member club of the National Football Conference (NFC) North division. It is the third-oldest franchise in the NFL, dating back to 1919, and is the only non-profit, community-owned major league professional sports team based in the United States. Home games have been played at Lambeau Field since 1957.</p>
      <p>The Packers have won 13 league championships, the most in NFL history, with nine pre–Super Bowl NFL titles and four Super Bowl victories. The Packers won the first two Super Bowls in 1967 and 1968 and were the only NFL team to defeat the American Football League (AFL) prior to the AFL–NFL merger. The Vince Lombardi Trophy is named after the Packers' coach Vince Lombardi, who guided them to their first two Super Bowls. Their two subsequent Super Bowl wins came in 1996 and 2010. Additionally, with at least one playoff game yet to be played in the 2019 NFL season, the Packers have won more games, including playoff wins, than any NFL franchise with a total of 791.</p>
    </lrm-tab>
    <lrm-tab label="Minnesota Vikings">
      <p class="wins">Number of Superbowl Rings: <span class="count">0</span></p>
      <p>The Minnesota Vikings are a professional American football team based in Minneapolis. The Vikings joined the National Football League (NFL) as an expansion team in 1960, and first took the field for the 1961 season. The team competes in the National Football Conference (NFC) North division.</p>
      <p>The Vikings are arguably the most successful NFL franchise to never win a Super Bowl. Minnesota ranks sixth all-time in win percentage[6] and seventh overall in combined regular season and postseason wins. The Vikings have won 20 division titles, and have made 30 playoff appearances. The club has appeared in 10 conference championship games, winning four to reach the Super Bowl. They are one of only three teams, along with the Pittsburgh Steelers and Los Angeles Rams, to appear in at least one conference title game every decade since the 1970s. Since their inception, the Vikings have posted an all-time record of 488–403–11.</p>
    </lrm-tab>
    <lrm-tab label="Dallas Cowboys">
      <p class="wins">Number of Superbowl Rings: <span class="count">5</span></p>
      <p>The Dallas Cowboys are a professional American football team based in the Dallas–Fort Worth metroplex. The Cowboys compete in the National Football League (NFL) as a member club of the league's National Football Conference (NFC) East division. The team is headquartered in Frisco, Texas, and plays its home games at AT&T Stadium in Arlington, Texas, which opened for the 2009 season. The stadium took its current name prior to the 2013 season. The Cowboys joined the NFL as an expansion team in 1960. The team's national following might best be represented by its NFL record of consecutive sell-outs. The Cowboys' streak of 190 consecutive sold-out regular and post-season games (home and away) began in 2002. The franchise has made it to the Super Bowl eight times, tied with the Pittsburgh Steelers and the Denver Broncos for second most Super Bowl appearances in history, just behind the New England Patriots record eleven Super Bowl appearances. This has also corresponded to eight NFC championships, most in the NFC. The Cowboys have won five of those Super Bowl appearances, tying them with their NFC rivals, the San Francisco 49ers; both are second to Pittsburgh's and New England's record six Super Bowl championships. The Cowboys are the only NFL team to record 20 straight winning seasons (1966–85), in which they missed the playoffs only twice (1974 and 1984).</p>
    </lrm-tab>
    <lrm-tab label="Denver Broncos">
      <p class="wins">Number of Superbowl Rings: <span class="count">3</span></p>
      <p>
        The Denver Broncos are a professional American football franchise based in Denver. The Broncos compete in the National Football League (NFL) as a member club of the league's American Football Conference (AFC) West division. The team began play in 1960 as a charter member of the American Football League (AFL) and joined the NFL as part of the merger in 1970. The Broncos are owned by the Pat Bowlen trust and currently play home games at Empower Field at Mile High (formerly known as Invesco Field at Mile High from 2001–2010, Sports Authority Field at Mile High from 2011–2017, and Broncos Stadium at Mile High from 2018–2019). Prior to that, they played at Mile High Stadium from 1960 to 2000.
      </p>
    </lrm-tab>
    <lrm-tab label="Chicago Bears">
      <p class="wins">Number of Superbowl Rings: <span class="count">1</span></p>
      <p>
        The Chicago Bears are a professional American football team based in Chicago. The Bears compete in the National Football League (NFL) as a member club of the league's National Football Conference (NFC) North division. The Bears have won nine NFL Championships, including one Super Bowl, and hold the NFL record for the most enshrinees in the Pro Football Hall of Fame and the most retired jersey numbers. The Bears have also recorded more victories than any other NFL franchise.
      </p>
    </lrm-tab>
    <lrm-tab label="Detroit Lions">
      <p class="wins">Number of Superbowl Rings: <span class="count">0</span></p>
      <p>
        The Detroit Lions are a professional American football team based in Detroit. They compete in the National Football League (NFL) as a member club of the National Football Conference (NFC) North division. The team plays its home games at Ford Field in Downtown Detroit.      </p>
    </lrm-tab>
  </lrm-tabbed-card>
</lrm-page>
