@import "../../../../../../components/src/styles/variables";

$paddingX: 8px;
$paddingY: 4px;
$radius: 12px;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
//  background-color: white;
//  border: 2px solid $lrm-border-color;
//  border-radius: 12px;
  overflow: hidden;
//  box-shadow: 6px 4px 9px 0px rgba(189,189,189,0.82);

  position: relative;
//  background: #ffffff;
//  border: 2px solid #eeeeee;

  .title {
    color: white;
    background-color: $theme-blue-8;
    overflow: hidden;
    padding-left: $paddingX;
    padding-right: $paddingX;
    padding-top: $paddingY;
    padding-bottom: $paddingY;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  .content {
    flex: 1;
    padding-left: $paddingX;
    padding-right: $paddingX;
    padding-top: $paddingY;
    padding-bottom: $paddingY;
  }
}

.arrow_box {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: $radius;
//  overflow: hidden;
//  box-shadow: 6px 4px 9px 0px rgba(189,189,189,0.82);
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 2px solid #eeeeee;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 42px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(238, 238, 238, 0);
  border-right-color: #eeeeee;
  border-width: 13px;
  margin-top: -13px;
}
