<mat-form-field appearance="outline" *ngIf="formControl">
  <mat-label>{{label}}</mat-label>
  <input matInput
         [formControl]="formControl"
         [errorStateMatcher]="errorStateMatcher"
         [required]="required"
         [placeholder]="placeholder">

  <mat-hint>{{hint}}</mat-hint>
  <mat-error *ngIf="hasError('email')">{{label}} <span i18n>Not a valid email address</span></mat-error>
  <mat-error *ngIf="hasError('minlength')">{{label}} <span i18n>Not long enough</span></mat-error>
  <mat-error *ngIf="hasError('maxlength')">{{label}} <span i18n>Too long</span></mat-error>
  <mat-error *ngIf="hasError('required')">{{label}} <span i18n>Required</span></mat-error>
  <mat-error *ngIf="hasError('pattern')">{{label}} {{patternError}}</mat-error>
</mat-form-field>

<span class="lrm-translation" #defaultLabel i18n>Email</span>
<span class="lrm-translation" #defaultPlaceholder i18n>Please enter an email address</span>
