@import "../../inputs/inputs";

:host {

  mat-form-field {
    display: block;
  }

  /*
  p-multiSelect {
    display: block;

    ::ng-deep {
      .ui-multiselect {
        display: block;
      }
      .ui-multiselect-trigger {
        background-color: transparent;
      }
    }
  }

  &.form-error {
    ::ng-deep {
      .ui-multiselect,
      .ui-multiselect:hover {
        border-color: $lrm-color-error;
      }
      .ui-multiselect-trigger-icon {
        color: $lrm-color-error;
      }
    }
  }
  */
}
