<lrm-page name="Actions">
  <lrm-card>
    <p>
      Action Container is a layout container used to hold actions.  It manages the position
      and margins of those actions.
    </p>

    <h3>Example</h3>

    <lrm-action-container>
      <lrm-action-export></lrm-action-export>
      <lrm-action-save></lrm-action-save>
      <lrm-action-cancel></lrm-action-cancel>
    </lrm-action-container>

    <h3>Source</h3>
    <markdown src="assets/markdown/action-container.html" ngPreserveWhitespaces></markdown>

  </lrm-card>
</lrm-page>
