<lrm-page name="Page Layout">
  <lrm-card>

    <markdown ngPreserveWhitespaces>
      A couple of page layout examples are shown here for a
      * <a href="./layout01" target="_blank">Single Card Layout</a>, and
      * <a href="./layout02" target="_blank">Two Card Layout</a>

      Each "page" should contain one or more `lrm-card` components.

      This is illustrated in the following example:

    </markdown>

    <markdown src="assets/markdown/page-1.html"></markdown>

    <markdown ngPreserveWhitespaces>
      To create a single page with two equal-width cards, use the following example:
    </markdown>

    <markdown src="assets/markdown/page-2.html"></markdown>

    <markdown ngPreserveWhitespaces>
      ## Using Loading Container

      Although not required, most cards will have the `lrm-loading-container` as the
      first and only child of a card.  The loading container then contains the contents
      of the card.
    </markdown>

    <markdown src="assets/markdown/page-loading.html"></markdown>

    <markdown ngPreserveWhitespaces>
      ## Sizing Cards

      Use CSS to set the relative widths of the cards.  To make the left card take up one-fourth
      of the horizontal space, use this example:

      ```css
      lrm-card:nth-child(1) {{'{'}}
      flex: 1 1 auto;
      {{'}'}}

      lrm-card:nth-child(2) {{'{'}}
      flex: 3 1 auto;
      {{'}'}}
      ```
      To make the left column fixed-width 12 characters wide, use this example:

      ```css
      lrm-card:nth-child(1) {{'{'}}
      flex: 0 0 12em;
      {{'}'}}
      ```
    </markdown>

    <markdown ngPreserveWhitespaces>
      ## Card Actions

      Actions can be added to a card.  They will be visible at all times.

      * <a href="./layout02" target="_blank">Two Card Layout with Actions</a>

    </markdown>

    <markdown src="assets/markdown/card-actions.html"></markdown>

    <markdown ngPreserveWhitespaces>
      ## Tools

      The region to the right of the page Title contains an area to place tools.
      These are typically icons the invoke some action.  This is accomplished by adding
      a `lrm-page-tools` section to the card.

      * <a href="./pagewithtools" target="_blank">Page Layout with Tools</a>

    </markdown>

    <markdown src="assets/markdown/page-tools.html"></markdown>

    <h2 id="tabbedcard">Tabbed Card</h2>
    <markdown ngPreserveWhitespaces>
      There are cases where tabs are needed on top of the card.  This is accomplished by using the
      `lrm-tabbed-card` component.

      An example is shown at the following link:

      * <a href="./tabbedcard" target="_blank">Page With Tabbed Card</a>

    </markdown>

    <markdown src="assets/markdown/tabbed-card.html"></markdown>


  </lrm-card>
</lrm-page>
