<div (click)="switch()" class="switch" [ngClass]="{ 'checked': value }">
  <input type="checkbox" class="switch-input" [value]="value" [attr.checked]="value">
  <span class="switch-label" data-on="On" data-off="Off"></span>
  <span class="switch-handle"></span>
</div>
