<p>The parameters for {{name}} are as follows:</p>

<table class="lrm-class-attributes ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of parameters">
      <td>{{p.name}}</td>
      <td>{{p.type}}</td>
      <td>{{p.default}}</td>
      <td>{{p.desc}}</td>
    </tr>
  </tbody>
</table>
